#game_overlay,
#ui_overlay {
    position: absolute;
    z-index: 5;
    display: flex;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}
