/**************************************************************
	Langenium UI Styles
	Author Paul Brzeski
**************************************************************/
.dialog 
	color #FFF
	background-color #000
	opacity .8
	z-index 10
	position absolute
	heightauto
	padding 1em
	margin .5em
	font 10px Verdana
	max-height 80%
	


#editor_tools .button.refresh 
	margin 0px auto

.ui-menu .ui-menu-item a 
	min-width 100px

#transform .controls > h3  
	margin 0.25em 0 0 0

#transform .controls > h4  
	display inline-block
	float left
	clear left

#transform .controls > input 
	height 12px
	margin 0.75em 0 0 0.5em
	width 7em
	text-align center
	float left

#transform .controls > .slider-control 
	width70% floatleft margin15px


#ui 
	z-index 2
	position absolute
	top 0
	left 0
	right 0
	bottom 0


#latencyBox 
	top 10px
	left 10px


#latencyLabel 
	position absolute
	z-index 3
	left 10px

#latencyLabel h3 
	color #FFFFFF
	font-size 0.8em
