script(src='/shared/scripts/jquery.min.js')
script(src='/shared/scripts/jQueryRotateCompressed.2.2.js')
script(src='/shared/scripts/socket.io.min.js')
script(src='/shared/scripts/three.min.js')
script(src='/shared/scripts/tween.min.js')
