!!!5
html
	head
		include header
	body
		case page
			when 'dashboard'
				include pages/dashboard			
			when 'mechanics'
				include pages/mechanics
			when 'object_editor'
				include pages/object_editor
			when 'scene_director'
				include pages/scene_director
			when 'texture_painter'
				include pages/texture_painter
	include footer