footer.navbar.navbar-inverse.navbar-fixed-bottom
	menu..navbar-inner.nav-collapse.collapse
		ul.nav
			li.camera_settings
				menu.sub_menu
					ul.unstyled
						li
							a(href='#',onclick='controls.editor.toggleCamera("editor")')
								i.icon-facetime-video
								|  Bird's Eyes View
						li
							a(href='#',onclick='controls.editor.toggleCamera("flight")')
								i.icon-facetime-video
								|  Ship View
						li
							a(href='#',onclick='controls.editor.toggleCamera("character")')
								i.icon-facetime-video	
								|  Character View
				a.btn.btn-inverse(title='Camera',href='#') 
					i.icon-camera.icon-large
					|  Camera
			li.scene_changer
				menu.sub_menu
					ul.unstyled
						include instances
				a.btn.btn-inverse(title='Scene changer',href='#')
					i.icon-picture
					|  Scene changer
			li.selected 
				h4 Selected
					small 0
				ul
			li.stats
				#latencyLabel(style="position: absolute;")
				canvas#latencyBox(width="97", height="43", style="display: inline-block; position: absolute;")
			li.camera_info
				i.icon-facetime-video.icon-3x.pull-left
				ul.unstyled.pull-left
					li.x x:
					li.y y:
					li.z z:
			li.cursor_info
				i.icon-hand-up.icon-3x.pull-left
				ul.unstyled.pull-left
					li.x x:
					li.y y:
					li.z z:
