script(src='/shared/scripts/bootstrap.min.js')
script(src='/game/scripts/editor.js')
script(src='/game/scripts/editor/toolbars.js')
script(type='text/javascript')
	var editor = new editor();
	editor.toolbars = new toolbars();