script(src='/shared/scripts/bootstrap.min.js')
script(src='/game/scripts/editor.js')
script(src='/game/scripts/editor/toolbars.js')
script(src='/game/scripts/editor/texture_editor.js')
script(src='/game/scripts/editor/object_library.js')
script(src='/game/scripts/editor/object_properties.js')
script(src='/game/scripts/editor/selected.js')
