script(type="text/x-handlebars", id="games")
	#page
		#sidebar
			ul
				li 	
					| {{#link-to "epoch-exordium"}}
					| Epoch Exordium
					| {{/link-to}}
				li 
					| {{#link-to "mmo"}}
					| Langenium MMO Preview
					| {{/link-to}}
				li Prototypes - Rapidly developed experiments for new functionality
					ul
						| {{#each item in model}}
						li 
							| {{#link-to "prototypes" item.id}}
							| {{item.title}}
							| {{/link-to}}
						| {{/each}}
		#content