div
    img.icon(style="display: block; filter: hue-rotate(73deg) brightness(4.0);" width="auto" height="50%" src="//bastion:8081/assets/ui/pirate-icon.png")
    .name Bot Ship
    .health_bar
    .distance
