body,
.cf,
.browsehappy p {
  *zoom: 1;
}
body:before,
.cf:before,
.browsehappy p:before,
body:after,
.cf:after,
.browsehappy p:after {
  content: '';
  display: table;
}
body:after,
.cf:after,
.browsehappy p:after {
  clear: both;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after,
*::before,
*::after {
  *behavior: url("js/vendor/boxsizing.htc");
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  width: 100%;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}
.browsehappy {
  width: 100%;
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.browsehappy p {
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.browsehappy p:last-of-type {
  margin-bottom: 0;
}
.browsehappy a {
  color: #00a6fc;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #444;
  font-size: 15px;
  line-height: 22.5px;
}
a {
  color: #00a6fc;
}
a:hover {
  color: #0095e3;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
pre,
code {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #111;
  letter-spacing: -0.015em;
}
h1 {
  font-size: 42px;
  line-height: 45px;
  margin-bottom: 15px;
}
h2 {
  font-size: 37.5px;
  line-height: 42px;
  margin-bottom: 12px;
}
h3 {
  font-size: 33px;
  line-height: 39px;
  margin-bottom: 9px;
}
h4 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}
h5 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 3px;
}
h6 {
  font-size: 19.5px;
  line-height: 30px;
  margin-bottom: 0px;
}
p,
ul,
ol,
pre,
dl {
  margin-bottom: 15px;
}
ul,
ol {
  padding-left: 1.4em;
}
li,
dd {
  margin-bottom: 7.5px;
}
pre {
  font-size: 12px;
}
header p {
  color: #aaa;
}
header h1 ~ p {
  margin-top: -7.5px;
}
header h2 ~ p {
  margin-top: -6px;
}
header h3 ~ p {
  margin-top: -4.5px;
}
header h4 ~ p {
  margin-top: -3px;
}
header h5 ~ p {
  margin-top: -1.5px;
}
header h6 ~ p {
  margin-top: -1.5px;
}
code {
  padding: 3px 4px;
  color: #444;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, monospace;
}
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, monospace;
  line-height: 160%;
}
.browsehappy span {
  font-size: 12px;
}
@media all and (min-width: 705px) {
html {
  font-size: 18.75px;
  line-height: 28.125px;
}
h1 {
  font-size: 52.5px;
  line-height: 56.25px;
  margin-bottom: 18.75px;
}
h2 {
  font-size: 46.875px;
  line-height: 52.5px;
  margin-bottom: 15px;
}
h3 {
  font-size: 41.25px;
  line-height: 48.75px;
  margin-bottom: 11.25px;
}
h4 {
  font-size: 35.625px;
  line-height: 45px;
  margin-bottom: 7.5px;
}
h5 {
  font-size: 30px;
  line-height: 41.25px;
  margin-bottom: 3.75px;
}
h6 {
  font-size: 24.375px;
  line-height: 37.5px;
  margin-bottom: 0px;
}
p,
ul,
ol,
pre,
dl {
  margin-bottom: 18.75px;
}
li,
dd {
  margin-bottom: 9.375px;
}
pre {
  font-size: 15px;
}
header h1 ~ p {
  margin-top: -9.375px;
}
header h2 ~ p {
  margin-top: -7.5px;
}
header h3 ~ p {
  margin-top: -5.625px;
}
header h4 ~ p {
  margin-top: -3.75px;
}
header h5 ~ p {
  margin-top: -1.875px;
}
header h6 ~ p {
  margin-top: -1.875px;
}
}
html,
body {
  background-color: #000;
  overflow: hidden !important;
}
body {
  margin: 0;
}
#game {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
