html,
body {
  background-color: #000;
  overflow: hidden !important;
}
body {
  margin: 0;
}
#game {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
