extends /templates/layout.pug

block append title
  | Concept Art | Gallery | Langenium

block append page
  .row
    h2 Concept Art
    .ui.four.stackable.cards
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Cellocher.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Cellocher.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Drak.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Drak.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Elx.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Elx.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Epoch Langenius.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Epoch Langenius.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Ganetti.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Ganetti.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Hircus.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Hircus.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Host.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Host.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Krahm.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Krahm.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Lupus.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Lupus.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Lux Atlantis.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Lux Atlantis.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Mantis.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Mantis.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Maya.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Maya.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Mon-Kis.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Mon-Kis.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Rise of Guardians.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Rise of Guardians.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Robot.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Robot.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Sinnis.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Sinnis.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Tigris.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Tigris.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_Torton.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_Torton.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_WERP.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_WERP.png')
      .ui.card
        a.image(href='/universe/art/production/covers/Langenium - Lux Atlas_World Eater.png')
          img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_World Eater.png')
