extends /templates/layout.pug

block append title
  | Gallery | Langenium

block append page
  .row
    h2 Gallery
      .ui.stackable.cards
        .ui.card.teal
          a.image(href='/gallery/concept-art.html')
            img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_World Eater.png')
          .content
            a.header(href='/gallery/concept-art.html') Concept Art
        .ui.card.yellow
          a.image(href='/gallery/posters.html')
            img(src='/universe/art/production/posters/thumb_Feature Poster-01.png')
          .content
            a.header(href='/gallery/concept-art.html') Posters
            
