ul#menu.span-13.last
	
	li
		- var is_active = (page.indexOf('about') > 0 ? 'active' : '')
		a(href='/about/',class=is_active).menu-item
			.indicator
			span About
	li
		- var is_active = (page.indexOf('gallery') > 0 ? 'active' : '')
		a(href='/gallery/',class=is_active).menu-item
			.indicator
			span Gallery
	li
		- var is_active = (page.indexOf('guide') > 0 ? 'active' : '')
		a(href='/guide/',class=is_active).menu-item
			.indicator
			span Game Guide
	li
		- var is_active = (page.indexOf('community') > 0 ? 'active' : '')
		a(href='/community/',class=is_active).menu-item
			.indicator
			span Community
	li
		- var is_active = (page.indexOf('search') > 0 ? 'active' : '')
		.menu-item
			input(type='text', value='Search')#search
			a.button GO