.control {
    display: none;
    margin-bottom: min(-11vw, -11vh, -220px);
    max-width: max(8vw, 8vh, 160px);
    transition: display 700ms, margin 700ms;
}

.control.active {
    display: block;
    margin-bottom: max(1vw, 1vh);
}

.movement-pad {
    bottom: calc( 100px + @css{ min(2.5vw, 2.5vh) } );
    left: @css{ min(2.5vw, 2.5vh) };
    z-index: 2;
}

.rotation-pad {
    z-index: 2;
    bottom: calc( 100px + @css{ min(2.5vw, 2.5vh) } );
    right: calc( 100px + @css{ min(2.5vw, 2.5vh) } );
}

.slider-stick {
    z-index: 2;
    bottom: calc( 300px + @css{ min(7.5vw, 7.5vh) } );
    right: calc( 100px + @css{ min(2.5vw, 2.5vh) } );
}

.rotation-pad {
    position: absolute;
}

.rotation-pad .region {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(rgba(218, 225, 230, 0.15) 5%, rgba(218, 225, 230, 0.35) 95%),
                url("/assets/images/touchpad/cam.svg") center center no-repeat;
    // border: 2px solid rgba(218, 225, 230, 0.25);
    border-radius: 90px;
    box-shadow: 0px 0px 5px rgba(194, 200, 204, 0.55);
    user-select: none;
}

.rotation-pad .handle {
    opacity: 0.1;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    left: 0px;
    background: radial-gradient(rgba(215, 225, 255, 0.70) 0%, rgba(215, 225, 255, 0.50) 100%);
    /*border: 1px solid rgba(145, 105, 245, 0.90);*/
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(195, 205, 245, 0.9);
    text-align: center;
    font: 24px/44px "Courier New", Courier, monospace;
    user-select: none;
}

.movement-pad {
    position: absolute;
}

.movement-pad .region {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(rgba(218, 225, 230, 0.15) 5%, rgba(218, 225, 230, 0.35) 95%),
                url("/assets/images/touchpad/nav.svg") center center no-repeat;
    // border: 2px solid rgba(218, 225, 230, 0.25);
    border-radius: 90px;
    box-shadow: 0px 0px 5px rgba(194, 200, 204, 0.55);
    user-select: none;
}

.movement-pad .handle {
    opacity: 0.1;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    left: 0px;
    background: radial-gradient(rgba(215, 225, 255, 0.70) 0%, rgba(215, 225, 255, 0.50) 100%);
    /*border: 1px solid rgba(145, 105, 245, 0.90);*/
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(195, 205, 245, 0.9);
    text-align: center;
    font: 24px/44px "Courier New", Courier, monospace;
    user-select: none;
}

.slider-stick {
    position: absolute;
}

.slider-stick .region {
    position: absolute;
    width: 100px;
    height: 200px;
    background: radial-gradient(rgba(218, 225, 230, 0.15) 5%, rgba(218, 225, 230, 0.35) 95%),
                url("/assets/images/touchpad/lift.svg") center center no-repeat;
    background-size: contain;
    // border: 2px solid rgba(218, 225, 230, 0.25);
    border-radius: 90px;
    box-shadow: 0px 0px 5px rgba(194, 200, 204, 0.55);
    user-select: none;
}

.slider-stick .handle {
    opacity: 0.1;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    left: 0px;
    background: radial-gradient(rgba(215, 225, 255, 0.70) 0%, rgba(215, 225, 255, 0.50) 100%);
    /*border: 1px solid rgba(145, 105, 245, 0.90);*/
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(195, 205, 245, 0.9);
    text-align: center;
    font: 24px/44px "Courier New", Courier, monospace;
    user-select: none;
}

