[submodule "vendor/Live2D_ThreeJS"]
	path = vendor/Live2D_ThreeJS
	url = https://github.com/paulbrzeski/Live2D_ThreeJS.git
	ignore = dirty
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery.git
	ignore = dirty
[submodule "vendor/Live2D-WebGL-SDK"]
	path = vendor/Live2D-WebGL-SDK
	url = https://github.com/paulbrzeski/Live2D-WebGL-SDK.git
	ignore = dirty
[submodule "vendor/threejs"]
	path = vendor/threejs
	url = https://github.com/mrdoob/three.js.git
	ignore = dirty
[submodule "universe"]
	path = universe
	url = https://github.com/paulbrzeski/Langenium-Universe.git
	ignore = dirty
[submodule "vendor/Semantic-UI"]
	path = vendor/Semantic-UI
	url = https://github.com/Semantic-Org/Semantic-UI.git
[submodule "vendor/ocean"]
	path = vendor/ocean
	url = https://github.com/jbouny/ocean.git
[submodule "vendor/wad"]
	path = vendor/wad
	url = https://github.com/rserota/wad.git
