// Menu Styles

main_menu()
	padding-top 1em
	padding-left 4em
	float left
	li 
		float left
	li a			
		button()
		margin .5em .25em
		padding .35em .5em
		font-family 'Franchise'
		font-size 1.85em
		text-transform uppercase
		text-align center