// Menu Layouts

horiz_nav()
	margin 0
	padding 0
	height 100%
	list-style none
	li 
		margin 0
		padding 0
		display inline-block
		

vert_nav()
	padding 0
	float left
	height 100%
	list-style none
	li 
		float left	
		clear both

thumb_nav()
	padding 0
	margin 10px 20px
	float left
	list-style none
	li 
		margin 0 5px 0 0
		display block
		float left
		a
			text-decoration none
			font-family 'Franchise'
			font-size 1.5em
			display block
			float left
			border-style solid
			border-width 24px
			border-image: url("/assets/shared/border-08.png") 77 fill round;
			box-sizing border-box
			color #999999
			&:hover
				color #FFFFFF