header.row
  a.logo(href='/', title='Langenium')
    img(src='/logo.png')
  nav
    ul
      li
        a(href='/about.html') About
      li
        a(href='/gallery') Gallery
      li
        a(href='/games') Games
      li
        a(href='/wiki') Wiki
  .fb-like(data-href="https://www.facebook.com/Langenium/", data-layout="button_count", data-action="like" data-size="small", data-show-faces="true", data-share="false")