#help
    button( name="Close" onclick="l.ui.help.hide(); return false;" ) X

    h1 Langenium

    h2 About

    p.
        Langenium is an open source game project with the long term goal of producing an MMO in the browser.
    p.
        Starting in 2012, the current build of Langenium is a culmination of over a decade of work.
    p.
        Please enjoy this current version of the game!
    p p.s. If you are a developer or interested in games development, visit Langenium on 
        a(href='https://github.com/OpenStudiosCo/Langenium' target="_new" title="Langenium on Github") Github

    h2 Gameplay
    p.
        Bots and players use the same scanner and weapons subsystems for combat.


    h2 PC Controls

    p. 
        [W][A][S][D] to turn your aircraft and control acceleration.
    p.
        [Shift] and [Spacebar] to control your aircrafts elevation.

    h2 On-screen controls

    p.
        These controls are always visible and therefore usable using your mouse on PC and touch on mobile and other touchscreen devices.

    p. 
        The D-PAD in the bottom left can be used like a thumbstick to turn your aircraft and control acceleration.
    p.
        The slider on the right controls elevation and the camera button can be used to peak around the scene.
    p.
        The weapons console can be used to toggle auto attack and manually fire weapons if auto attack is off.
    p.
        When weapons fire, the attack button shows the time remaining till the next attack is ready.
