#score_table
    button(name="Close") X
    h2 Rankings
    table
        thead
            tr
                td.
                    ID
                td.
                    Vehicle
                td.
                    Kills
                td.
                    Deaths
        tbody
            tr
                td.
                    ID
                td.
                    Vehicle
                td.
                    Kills
                td.
                    Deaths
