:stylus(wrap=true)
    #ui-targeting-list {
        display: flex;
        position: absolute;
        top: 1vh;
        left: 1vw;
        width: 40vw;
        border-radius: 1% / 5%;
        z-index: 2;
        pointer-events: none;

        .target {
            border: solid 1px rgba(0,0,0,0.0);
            color: rgba(0,0,0,0.5);
            display: flex;
            font-family: monospace;
            margin: 0.25rem;
            padding: 0.25rem;
            width: 8vw;
            pointer-events: auto;

            &:hover {
                border: solid 1px rgba(0,0,0,0.5);
                color: #000;
                cursor: pointer;
            }

            .icon {
                width: 32px;
                height: auto;
                margin-right: 8px;

                &.neutral {
                    display: block;a
                    filter: hue-rotate(73deg) brightness(4.0);
                }
            }

            .health_bar {
                margin: -.25rem;
                background: #00FF00;
                width: calc(100% + 0.5rem);
                height: 5px;
            }
        }
        
    }
#ui-targeting-list
    .target(data-uuid="123")
        img.icon(src="/assets/ui/pirate-icon.png" class='$icon_class')
        .info
            .name Bot Ship 
            .distance 3km
