style.
    #ui-targeting-container {
        display: flex;
        position: absolute;
        bottom: 1vh;
        left: 20vw;
        width: 60vw;
        height: 10vh;
        border-radius: 1% / 5%;
        z-index: 2;
        pointer-events: none;
    }

    .target {
        color: rgba(0,0,0,0.5);
        font-family: monospace;
        margin: 0.25rem;
    }

    .target .icon {
        width: auto;
        height: 50%;
    }

    .target .icon.neutral {
        display: block;
        filter: hue-rotate(73deg) brightness(4.0);
    }
#ui-targeting-container
