#page_header .login
	horiz_nav()
	float right
	color #999999
	border-style solid
	border-width 28px
	border-image url("/assets/shared/border-02.png") 42 41 42 42 fill round
	box-sizing border-box
	li
		margin -10px auto
	input[type='text']
		textbox()
		float right
	input[type='checkbox'], label[for='chk_remember']
		float left
	input[type='checkbox']
		margin-left 15px
		clear left
	label[for='chk_remember']
		clear right
	a
		button()

#page_section #page_nav ul.vert_nav
	vert_nav()
	main_menu()