/* CSS reset */
ul {
	padding: 0;
}
html, body {
	background: #000;
	color: #CCC;
	font-family: "Verdana", "Arial";
	font-size: 9px;
	overflow: hidden;
}

a {
	color: #FFF;
}

#container {
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

.boxes {
	position: absolute;
	z-index: 2;
	top: 10px;
}

.boxes.left {
	left: 10px;
}

.boxes.right {
	right: 10px;
}

.box {
	overflow: hidden;
	width: 180px;
	height: 100%;
	clear: both;
	padding: 1em;
	margin: .25em .5em;
	background-color: #111111;
	opacity: 0.8;
}
.box > h2 {
	background-color: #000000;
	padding: 0.5em;
	margin: -1em -1em 1em -1em;
}
.box.wide {
	width: 250px;
}

.boxes.left .box {
	float: left;
}
.boxes.right .box {
	float: right;
}

.box h2,
.box p { 
	font-weight: normal;
	font-size: 1em;
}

.box h3{
	font-size: 1.2em;
}

.box p {
	text-align: center;
}
.box .minimize {
	position: absolute;
	top: 0px;
	right: 5px;
}
.box .minimize:hover {
	cursor: pointer;
}



