#stats .player.info,
#stats .ship.info {
	position: absolute;
}

#stats .player.info img {
	position: absolute;
}
#stats .player.info .username {
	margin-left: 30px;
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	clear: right;
}

#stats .player.info .job {
	margin-left: 30px;
	font-weight: normal;
	font-size: 1em;
	float: left;
	clear: both;
}
#stats .ship.info {
	top: 55px;
}

#stats .ship.info li {
	margin: .8em 0;
	list-style: outside none;
	display: block;
}
#stats .ship.info li span {
	float: left;
	position: absolute;
	display: inline-block;
	left: 40px;
	background-color: #FFFF00;
	width: 95px;
	height: 1.2em;
}
#stats .ship.info li span.ship-health { background-color: #00871C; }
#stats .ship.info li span.ship-power { background-color: #F15A24; }
#stats .ship.info li span.ship-exp { background-color: #0000FF; }

#stats .ship.health {
	padding: 2em 0;
}

#playerList {
	margin: 0 -0.5em;
}
#playerList li {
	margin: 0.5em 0;
	padding: 1em 1em 1em 4em;
	background: #333333 url(../assets/mugshot.png) no-repeat 3px 3px;
}
#playerList li:hover {
	cursor: pointer;
	background-color: #666666;
}
#playerList li.selected {
	background-color: #999999;
}

#controls {
	z-index: 2;
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 210px;
}
#controls #dashboard {
	position: relative;
	margin: 0px auto;
	width: 330px;
	height: 210px;
	background: transparent url(../assets/dashboard.png) no-repeat top left;
}

#controls #dashboard #heading {
	width: 120px;
	height: 120px;
	background: transparent url(../assets/compass_arrow.png) no-repeat top left;
	position: absolute;
	right: 105px;
	top: 52px;
	opacity: .3;
}

#controls #dashboard #speed {
	color: #00FF00;
	font-size: 35px;
	position: absolute;
	right: 115px;
	top: 85px;
}

#controls #dashboard #speed span {
	font-size: 10px;
}

#controls #dashboard #altitude {
	color: #00CCFF;
	font-size: 10px;
	position: absolute;
	right: 15px;
	top: 145px;
}