@import 'node_modules/jeet/jeet'

// Helpers

debug()

reset-list()
  ul
    padding 0
  li
    list-style-type none

.row 
  clearfix()

// Layout

.container
  center(1920px)
  
header
  h1.logo
    column(1)

  nav
    column(1/2)
    reset-list()

  .fb-like
    column(1/2)
  
.hero,
.call_to_action,
.news,
.most_popular
  column(1)

.call_to_action
  reset-list()
  li
    column(1/4)   
    text-align center

.most_popular
  reset-list()

// Tablet
@media screen and (min-width: 768px)
  .news
    column(3/5)

  .most_popular
    column(2/5)

// Desktop
@media screen and (min-width: 1200px)
  header
    h1.logo
      column(2/12)
    nav
      column(9/12)
    .fb-like
      column(1/12)
 
  .hero,
  .news
    column(5/7)

  .call_to_action,
  .most_popular
    column(2/7)

  .call_to_action
    li
      column(1/2)
      margin 0
      text-align center
