@import 'node_modules/jeet/jeet'

debug()

.container
  center(1920px)

.row 
  clearfix()
  
.hero,
.call_to_action,
.news,
.most_popular
  column(1)
  
.call_to_action
  li
    column(1/4)

// Tablet.
@media screen and (min-width: 768px)
  .news
    column(3/5)

  .most_popular
    column(2/5)

// Desktop.
@media screen and (min-width: 1200px)
  .hero,
  .news
    column(5/7)

  .call_to_action,
  .most_popular
    column(2/7)

  .call_to_action
    li
      column(1/3)
