#fb-root
.container
  include /templates/partials/header.pug
  .row
    .hero 
      h1 Interactive Hero Area
    .call_to_action
      ul.row
        li
          a(href='/games.html') Play
        li
          a(href='/gallery/concept-art.html') Concept Art
        li
          a(href='/wiki/storylines.html') Storylines
        li
          a(href='http://github.com/paulbrzeski/Langenium') Github
  .row
    .news
      h2 News
      include:markdown news.md
    .most_popular