#fb-root
.container
  include /templates/partials/header.pug
  .row
    .hero 
      h1 Interactive Hero Area
    .call_to_action
      ul.row
        li
          a(href='#') Play
        li
          a(href='#') Concept Art
        li
          a(href='#') Storyline
        li
          a(href='#') Github
  .row
    .news
      h2 News
      include:markdown news.md
      iframe(width="560", height="315", src="https://www.youtube.com/embed/cJcr09qIVrI" frameborder="0", allowfullscreen='')
    .most_popular