#fb-root
.container
  include /templates/partials/header.pug
  .row
    .hero 
      h1 Interactive Hero Area
    .call_to_action
      ul.row
        li
          a(href='#') Play
        li
          a(href='#') Concept Art
        li
          a(href='#') Storyline
        li
          a(href='#') Github
  .row
    .news
      h2 News
      include:markdown news.md
    .most_popular