#fb-root
.container
  include /templates/partials/header.pug
  .row
    h2 Welcome to the Langenium Wiki
    ul
      li
        a(href='/wiki/storylines.html') Storylines
      li
        a(href='/wiki/technology_of_2099.html') Technology of 2099