doctype
html
	head
		title= title
		link(rel="stylesheet",href="styles/styles.css")
	body
		include templates/layout
		include templates/pages/index
		include templates/pages/about

	script(src="scripts/libs.js")
	script(src="scripts/client.js")
