doctype
html
	head
		include header
	body
		#wrapper
			case page_template
				when "website/home"
					include website/home
				when "website/about"
					include website/about
			include footer
		#bg
			img(src='/assets/shared/test_bg.png',class='stretch',alt='')