doctype
html
	head
		title= title
		// https://github.com/daneden/animate.css
		link(rel="stylesheet",href="./scripts/vendor/animate.css")
		link(rel="stylesheet",href="./styles/styles.css")
	body
		#container
			#viewport
				nav#main-menu
					a(href='#/')
						h1
							img(src='./assets/logo.png',width='216',height='96')
					a(href='#/games') Games
					a(href='#/about') About
					a(href='#/blog') Blog
					a(href='#/media') Media
				#page.animated
			#pages
				#home
					include pages/home
				#games
					include pages/games
				#about
					include pages/about
				#blog
					include pages/blog
				#media
					include pages/media
		// http://learn.jquery.com/
		script(src="scripts/vendor/jquery.min.js")
		// https://github.com/davatron5000/Lettering.js
		script(src="scripts/vendor/jquery.lettering.js")
		// https://github.com/jschr/textillate
		script(src="scripts/vendor/jquery.textillate.js")
		// http://jquery.malsup.com/cycle2/api/
		script(src="scripts/vendor/jquery.cycle2.min.js")
		// https://github.com/mrdoob/three.js
		script(src="scripts/vendor/three.min.js")
		script(src="scripts/vendor/cannon.js")
		script(src="scripts/vendor/Three.BufferGeometryUtils.js")
		script(src="scripts/vendor/threex.keyboardstate.js")
		script(src="scripts/vendor/threex.planets.js")
		script(src="scripts/vendor/Mirror.js")
		script(src="scripts/vendor/OrbitControls.js")
		script(src="scripts/vendor/WaterShader.js")
		// https://github.com/chandlerprall/ThreeCSG
		script(src="scripts/vendor/ThreeCSG.js")
		// https://code.google.com/p/dat-gui/
		script(src="scripts/vendor/dat.gui.js")
		// http://smoothiecharts.org/examples/example1.html
		script(src="scripts/vendor/smoothie.js")
		// http://momentjs.com/
		script(src="scripts/vendor/moment.min.js")
		// http://socket.io/
		script(src="scripts/vendor/socket.io.js")
		// Shaders
		script(type='x-shader/x-vertex', id='haloVertShader')
			include shaders/halo.vert
		script(type='x-shader/x-vertex', id='haloFragShader')
			include shaders/halo.frag
		script(type='x-shader/x-vertex', id='cloudVertShader')
			include shaders/cloud.vert
		script(type='x-shader/x-vertex', id='cloudFragShader')
			include shaders/cloud.frag
		script(type='x-shader/x-vertex', id='logoWaterVertShader')
			include shaders/logo-water.vert
		script(type='x-shader/x-vertex', id='logoWaterFragShader')
			include shaders/logo-water.frag
		script(type='x-shader/x-vertex', id='logoMetalVertShader')
			include shaders/logo-metal.vert
		script(type='x-shader/x-vertex', id='logoMetalFragShader')
			include shaders/logo-metal.frag
		script(type='x-shader/x-vertex', id='sunVertShader')
			include shaders/sun.vert
		script(type='x-shader/x-vertex', id='sunFragShader')
			include shaders/sun.frag
		script(type='x-shader/x-vertex', id='waterVertShader')
			include shaders/water.vert
		script(type='x-shader/x-vertex', id='waterFragShader')
			include shaders/water.frag
		// Client code
		script(src="scripts/L.js")
		script(src="scripts/scenograph.js")
		script(src="scripts/scenograph/objects.js")
		script(src="scripts/scenograph/stats.js")
		script(src="scripts/scenograph/director/character_test.js")
		script(src="scripts/scenograph/director/epochexordium.js")
		script(src="scripts/scenograph/director/mmo.js")
		script(src="scripts/scenograph/director/mmo_title.js")
		script(src="scripts/scenograph/director/other_water.js")
		script(src="scripts/client.js")
		
