doctype
html
	head
		title= title
		link(rel="stylesheet",href="styles/styles.css")
	body
		#container
	
		include templates/layout
		include templates/pages/index
		include templates/pages/games
		include templates/pages/about
		include templates/pages/blog
		include templates/pages/media

		script(src="scripts/libs.js")
		script(src="scripts/client.js")
