script(type="text/x-handlebars")
	nav
		h1
			| {{#link-to 'index'}}
			img(src='/assets/logo.png',alt='Langenium',width='215',height='96')
			| Home
			| {{/link-to}}
		ul#main_menu
			li {{#link-to 'games'}}Games{{/link-to}}
			li {{#link-to 'about'}}About{{/link-to}}
			li {{#link-to 'blog'}}Blog{{/link-to}}
			li {{#link-to 'media'}}Media{{/link-to}}
			li
				h3 Controls
				| {{input type="checkbox" checked=options.useControls}}
				| {{view Ember.Select content=options.scenes value=options.activeScene}}
			li#latency.push-right
				table
					tr
						td Latency
					tr
						td.latency
			li#fps.push-right
				table
					tr
						td FPS
						td Min
						td Max
					tr
						td {{fps.now}}
						td {{fps.min}}
						td {{fps.max}}
			li#time.push-right
				table
					tr
						td Now
						td Last
						td Current Delta
						td Delta Min
						td Delta Max
					tr
						td {{time.now}}
						td {{time.last}}
						td {{time.delta}}
						td {{time.deltaMin}}
						td {{time.deltaMax}}
	h2 
	| {{outlet}}