script(type="text/x-handlebars")
	nav
		h1
			| {{#link-to 'index'}}
			img(src='/assets/logo.png',alt='Langenium',width='215',height='96')
			| Home
			| {{/link-to}}
		ul#main_menu
			li {{#link-to 'games'}}Games{{/link-to}}
			li {{#link-to 'about'}}About{{/link-to}}
			li {{#link-to 'blog'}}Blog{{/link-to}}
			li {{#link-to 'media'}}Media{{/link-to}}
	| {{outlet}}