script(type="text/x-handlebars")
		nav
			h1
				{{#link-to 'index'}}Home{{/link-to}}
			{{#link-to 'games'}}Games{{/link-to}}
			{{#link-to 'about'}}About{{/link-to}}
			{{#link-to 'blog'}}Blog{{/link-to}}
			{{#link-to 'media'}}Media{{/link-to}}
		| {{outlet}}