tr(class='tp-lblv_l')
    td $id
    td $name
    td $type
    td 
        button(class='tp-btnv_b' onclick='console.log("View $id");') View
    td 
        button(class='tp-btnv_b' onclick='console.log("Edit $id");') Edit
