extends /templates/layout.pug

block append scripts
  script(src='/dist/hero.js')

block append title
  | Home | Langenium

block append page
  .row
    .hero 
      h1 Interactive Hero Area
    .call_to_action
      ul.ui.cards
        li.ui.card.fluid
          a.ui.black.labeled.icon.button.large(href='/games')
            i.icon.game
            | Play
        li.ui.card.fluid
          a.ui.black.labeled.icon.button.large(href='/gallery/concept-art.html') 
            i.icon.paint.brush
            | Concept Art
        li.ui.card.fluid
          a.ui.black.labeled.icon.button.large(href='/wiki/storylines.html') 
            i.icon.write
            | Storylines
        li.ui.card.fluid
          a.ui.black.labeled.icon.button.large(href='http://github.com/paulbrzeski/Langenium') 
            i.icon.github
            | Github
  .row
    .news
      h2 News
      include:markdown news.md
    .most_popular
