---
permalink: "accessibility.html"
dynamicPermalink: false
title: Accessibility | Open Studios | Perth, Western Australia
description: Open Studios aims to meet the Australian business standard for web accessibility. We want our information to be accessible to everyone, regardless of their background or ability.
date: 2023-10-18T16:58:16.267Z
priority: "0.8"
changefreq: yearly
---

extends ../templates/1999_html.pug


block append page
  include ../content/accessibility.pug