---
permalink: "index.html"
dynamicPermalink: false
title: Langenium v6 Test Scene
description: Welcome to the Langenium v6 demo
date: 2024-06-28T02:55:00.000Z
priority: "1.0"
changefreq: daily
---

extends ../templates/game_client.pug
