---
permalink: "privacy.html"
dynamicPermalink: false
title: Privacy Policy | Open Studios | Perth, Western Australia
description: Open Studios is committed to providing quality services to you and this policy outlines our ongoing obligations to you in respect of how we manage your Personal Information.
date: 2023-10-18T16:58:16.267Z
priority: "0.8"
changefreq: yearly
---

extends ../templates/1999_html.pug

block append page
  include ../content/privacy.pug