---
permalink: '/robots.txt'
dynamicPermalink: false
eleventyExcludeFromCollections: true
---
.
    User-agent: *
    Allow: /
    Disallow: /iframes/*/
    Sitemap: https://www.openstudios.xyz/sitemap.xml
