nav#page_nav
	ul.vert_nav
		li 
			a(href='/about') About
		li 
			a(href='/blog') Blog
		li
			a(href='/gallery') Gallery
		li 
			a(href='/guide') Game Guide
		li
			a(href='/forums') Forums
		li
			a(href='http://facebook.com/Langenium') Facebook
		li
			a(href='#') Hide all + Show backgrounds
		li
			a(href='/play') Play