// Defaults

mTablet = 'screen and (max-width: 1140px)'
mPhone = 'screen and (max-width: 768px)'

@font-face
	font-family 'Franchise'
	font-style normal
	font-weight normal
	src url('/assets/font/francise.eot')
	src url('/assets/font/franchise.eot?#iefix') format('embedded-opentype'),
     url('/assets/font/franchise.woff') format('woff'),
     url('/assets/font/franchise.ttf') format('truetype'),
     url('/assets/font/franchise.svg#franchiseregular') format('svg');
h1 
	margin 0
	float left
h1, h2
	letter-spacing .025em
h3, h4, h5, h6
	letter-spacing .01em
h1, h2, h3, h4, h5, h6
	font-family 'Franchise'