// Menu Styles

main_menu()
	overflow visible
	border-style solid
	border-width 45px
	border-image url("/assets/shared/border-01.png") 81 fill round
	box-sizing border-box
	li 
		width 100%
	li a			
		button()
		width 100%
		font-family 'Franchise'
		font-size 1.85em
		text-transform uppercase
		text-align center