!!!5
html
	head
		include header
	body
		#ui
			#latencyLabel(style="position: absolute;")
			canvas#latencyBox(width="97", height="43", style="display: inline-block; position: absolute;")
		#game
	include footer