meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title= title
link(rel='stylesheet', href='/styles/game/game.css')
link(rel='stylesheet', href='/styles/game/ui.css')
script(src='/scripts/shared/jquery.min.js')
script(src='/scripts/shared/jQueryRotateCompressed.2.2.js')
script(src='/scripts/shared/socket.io.min.js')
script(src='/scripts/shared/three.js')
script(src='/scripts/shared/Mirror.js')
script(src='/scripts/shared/tween.min.js')
script(src='/scripts/shared/THREEx.KeyboardState.js')
script(src='/scripts/shared/stats.min.js')
script(src='/scripts/shared/smoothie.js')
script(src='/scripts/shared/SimplexNoise.js')
script(src='/scripts/game/client.js')
script(src='/scripts/game/controls.js')
script(src='/scripts/game/controls/character.js')
script(src='/scripts/game/controls/editor_controls.js')
script(src='/scripts/game/controls/flight.js')
script(src='/scripts/game/effects.js')
script(src='/scripts/game/effects/bullets.js')
script(src='/scripts/game/effects/clouds.js')
script(src='/scripts/game/effects/particles.js')
script(src='/scripts/game/effects/water.js')
script(src='/scripts/game/engine.js')
script(src='/scripts/game/events.js')
script(src='/scripts/game/objects.js')
script(src='/scripts/game/objects/characters.js')
script(src='/scripts/game/objects/environment.js')
script(src='/scripts/game/objects/projectiles.js')
script(src='/scripts/game/objects/ships.js')
script(src='/scripts/game/scenes.js')
script(src='/scripts/game/scenes/grid.js')
script(src='/scripts/game/scenes/rooms.js')
script(src='/scripts/game/textures.js')
script(src='/scripts/game/textures/sprites.js')
script(type='x-shader/x-vertex', id='cloud_vertexShader')
	include shaders/cloud.vertexShader
script(type='x-shader/x-fragment', id='cloud_fragmentShader')
	include shaders/cloud.fragmentShader
script(type='x-shader/x-vertex', id='water_vertexShader')
	include shaders/water.vertexShader
script(type='x-shader/x-fragment', id='water_fragmentShader')
	include shaders/water.fragmentShader
script(type='text/javascript').
	/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
		Globals
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

	// Global variables for the THREE JS client
	var sky, M = 500000;
	var keyboard = new THREEx.KeyboardState(), clock = new THREE.Clock();
	var player, bots = [];


	// Initialize internal libraries
	client = new client();
	client.updateWinSizeVariables();

	engine = new engine();
	controls = new controls();
	objects = new objects();
	textures = new textures();
	effects = new effects();
	events = new events();
	scenes = new scenes();

	var stats = new Stats();
	stats.setMode(0); // 0: fps, 1: ms

	// Align top-left
	stats.domElement.style.position = 'absolute';
	stats.domElement.style.right = '10px';
	stats.domElement.style.top = '10px'
	

	setInterval( function () {

		stats.begin();

		// your code goes here

		stats.end();

	}, 1000 / 66 );
	
	if (client.is_editor == true) {
		var editor = new editor();

		var ray = new THREE.Raycaster();
		var projector = new THREE.Projector();
	}

	/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
		Start the game engine
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

	$(document).ready(function(){

		client.initialize();

		$('#ui').append(stats.domElement);
		events.chart.addTimeSeries(events.latency, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 1 });
		events.chart.streamTo(document.getElementById("latencyBox"), 500);
	});