meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title= title
link(rel='stylesheet', href='/shared/styles/reset.css')
link(rel='stylesheet', href='/shared/styles/bootstrap.min.css')
link(rel="stylesheet",href="/shared/font-awesome/css/font-awesome.min.css")
link(rel='stylesheet', href='/game/styles/game.css')
- if (editor==true)
	link(rel='stylesheet', href='/game/styles/editor.css')
	link(rel='stylesheet', href='/game/styles/editor/object_library.css')
	link(rel='stylesheet', href='/game/styles/editor/object_properties.css')
	link(rel='stylesheet', href='/game/styles/editor/window.css')
link(rel='stylesheet', href='/game/styles/ui.css')
script(src='/shared/scripts/jquery.min.js')
script(src='/shared/scripts/jQueryRotateCompressed.2.2.js')
script(src='/shared/scripts/socket.io.min.js')
script(src='/shared/scripts/three.min.js')
script(src='/shared/scripts/tween.min.js')
script(src='/shared/scripts/THREEx.KeyboardState.js')
script(src='/shared/scripts/Stats.js')
script(src='/shared/scripts/smoothie.js')
script(src='/shared/scripts/SimplexNoise.js')
script(src='/game/scripts/client.js')
script(src='/game/scripts/controls.js')
script(src='/game/scripts/controls/character.js')
script(src='/game/scripts/controls/editor_controls.js')
script(src='/game/scripts/controls/flight.js')
script(src='/game/scripts/effects.js')
script(src='/game/scripts/effects/bullets.js')
script(src='/game/scripts/effects/particles.js')
script(src='/game/scripts/effects/water.js')
script(src='/game/scripts/engine.js')
script(src='/game/scripts/events.js')
script(src='/game/scripts/objects.js')
script(src='/game/scripts/objects/bots.js')
script(src='/game/scripts/objects/environment.js')
script(src='/game/scripts/objects/players.js')
script(src='/game/scripts/objects/projectiles.js')
script(src='/game/scripts/textures.js')
script(src='/game/scripts/ui.js')
script(type='text/javascript')
	/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
		Globals
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

	// Global variables for the THREE JS client
	var scene, water_tiles, sky, M = 500000;
	var keyboard = new THREEx.KeyboardState(), clock = new THREE.Clock();
	var player, ships = [], bots = [], bullets = [], particle_systems = [], ui = [];

	client = new client();
	client.updateWinSizeVariables();

	engine = new engine();

	controls = new controls();
	objects = new objects();
	textures = new textures();

	effects = new effects();

	//	Setup the global socket variable
	events = new events();

	ui = new user_interface();
	ui.makeDialog("playerPosition", ui.playerPosition);

	

	/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
		Start the game engine
	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

	$(document).ready(function(){

		client.initialize();
		engine.animate();
		
	});