include layouts/page_header
section#page_section
	include layouts/main_menu
	article#page_content
		header
			h2 About
			p Bacon ipsum dolor sit amet tenderloin swine kevin drumstick fatback frankfurter prosciutto pork loin spare ribs. Andouille ribeye chuck, tenderloin fatback pork belly filet mignon shank jowl ball tip jerky beef ribs. 
			#featured_image
				img.stretch(src='/assets/shared/featured.png',alt='')
		section
			ul.horiz_nav
				li
					a(href='#') 
						img(src='/assets/shared/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/assets/shared/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/assets/shared/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/assets/shared/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/assets/shared/featured.png',width='62',height='50')
		footer
			ul.thumb_nav
				li 
					a(href='#') Story
				li 
					a(href='#') Ships
				li 
					a(href='#') Images
				li 
					a(href='#') How to Play
				li 
					a(href='#') Economy
	aside#page_sidebar
		section
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/assets/shared/logo.png',width='138',height='95')
			article
				h3 
					a(href='#') Another News Headline
				.thumb
					img.stretch(src='/assets/shared/featured.png',width='138',height='95')
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/assets/shared/logo.png',width='138',height='95')
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/assets/shared/featured.png',width='138',height='95')
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/assets/shared/logo.png',width='138',height='95')
		footer
			a(href='#') + Load more
