nav
	ul
		li 
			a(href='#') About
		li
			a(href='#') Gallery
		li 
			a(href='#') Game Guide
		li
			a(href='#') Community
		li
			a(href='#') Facebook
		li
			a(href='#') Hide all + Show backgrounds
		li
			a(href='#') Play
article

aside