header#page_header
	menu
		h1
			a(href='/')
				img(src='/shared/images/logo.png')
		ul.login
			li
				input(type='text',val='Username')
			li
				input(type='text',val='Password')
			li
				input(type='checkbox',id='chk_remember')
				label(for='chk_remember') Remember me 
			li
				a(href='#') Login
			li
				a(href='#') Register
section#page_section
	nav#page_nav
		ul.vert_nav
			li 
				a(href='#') About
			li
				a(href='#') Gallery
			li 
				a(href='#') Game Guide
			li
				a(href='#') Community
			li
				a(href='#') Facebook
			li
				a(href='#') Hide all + Show backgrounds
			li
				a(href='#') Play

	article#page_content
		header
			h2 Some header text
			p Bacon ipsum dolor sit amet tenderloin swine kevin drumstick fatback frankfurter prosciutto pork loin spare ribs. Andouille ribeye chuck, tenderloin fatback pork belly filet mignon shank jowl ball tip jerky beef ribs. 
			#featured_image
				img.stretch(src='/shared/images/featured.png',alt='')
		section
			ul.horiz_nav
				li
					a(href='#') 
						img(src='/shared/images/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/shared/images/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/shared/images/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/shared/images/featured.png',width='62',height='50')
				li
					a(href='#') 
						img(src='/shared/images/featured.png',width='62',height='50')
		footer
			ul.thumb_nav
				li 
					a(href='#') Story
				li 
					a(href='#') Ships
				li 
					a(href='#') Images
				li 
					a(href='#') How to Play
				li 
					a(href='#') Economy
	aside#page_sidebar
		section
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/shared/images/logo.png',width='138',height='95')
				p Pig jerky pastrami ribeye fatback rump. Pork loin short loin turkey sausage drumstick pork belly strip steak pancetta. Pork belly ribeye bresaola short loin beef ribs salami t-bone tongue cow meatloaf capicola sausage leberkas.
			article
				h3 
					a(href='#') Another News Headline
				.thumb
					img.stretch(src='/shared/images/featured.png',width='138',height='95')
				p Prosciutto chicken leberkas pastrami short loin turkey venison tongue. Andouille meatball sausage, shank turkey ball tip jerky cow short loin bacon. Strip steak pork chop capicola shankle chuck, chicken rump.
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/shared/images/logo.png',width='138',height='95')
				p Turkey beef kielbasa chicken bacon bresaola filet mignon leberkas jowl hamburger. Sirloin chuck capicola, bresaola t-bone chicken pancetta boudin shank ball tip hamburger meatball tail meatloaf beef ribs. T-bone biltong beef ribs shoulder meatball tenderloin short loin, fatback kevin jerky doner.
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/shared/images/featured.png',width='138',height='95')
				p Turducken frankfurter venison corned beef meatloaf, chicken drumstick sirloin strip steak. Filet mignon shank meatball brisket. Spare ribs tenderloin pork belly capicola, chicken ribeye venison. Jerky corned beef swine, meatloaf t-bone pastrami chuck fatback.
			article
				h3 
					a(href='#') A News Headling of Some Sort
				.thumb
					img.stretch(src='/shared/images/logo.png',width='138',height='95')
				p PSpare ribs tenderloin pork belly capicola, chicken ribeye venison. Jerky corned beef swine, meatloaf t-bone pastrami chuck fatback.  Boudin leberkas tail hamburger pig tenderloin ribeye salami.
		footer
			a(href='#') + Load more
