!!!5
html
	head
		include header
	body
		.container
			#top_nav.span-22.last
				ul
					li
						iframe(src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Flangenium&amp;send=false&amp;layout=button_count&amp;width=250&amp;show_faces=false&amp;font=verdana&amp;colorscheme=dark&amp;action=like&amp;height=21&amp;appId=623990304295503",scrolling="no",frameborder="0",style="border:none; overflow:hidden; width:250px; height:30px;",allowTransparency="true")
					li.user
						if (logged_id == true)
							img(src=user.profile_img)
							a(href='#profile')= user.username
							a.logout(href='/logout',target='_new') Logout
						else
							a.login(href='/auth/facebook',target='_new') Login
			.round-box
				#header.span-22.last
					h1.span-7
						a(href='/') 
							span.hidden Langenium
					include menu
			case page
				when 'pages/home'
					include pages/home				
				when 'pages/about'
					include pages/about
				when 'pages/gallery_list'
					include pages/gallery_list
				when 'pages/gallery_view'
					include pages/gallery_view
				when 'pages/guide'
					include pages/guide
				when 'pages/guide_edit'
					include pages/guide_edit
				when 'pages/guide_index'
					include pages/guide_index
				when 'pages/guide_new'
					include pages/guide_new
				when 'pages/community'
					include pages/community
	include footer