extends /templates/layout.pug

block append title
  | Gallery | Langenium

block append page
  .row
    h2 Gallery
      ul
        li
          a(href='/gallery/concept-art.html')
            h3 Concept Art
            img(src='/universe/art/production/covers/thumb_Langenium - Lux Atlas_World Eater.png')
