extends /templates/layout.pug

block append title
  | Airship Academy | Wiki | Langenium

block append page
  .row
    h2 Airship Academy
    include:markdown /universe/documentation/games/Langenium--Airship-Academy/README.md
    h3 Story Outline
    include:markdown /universe/stories-world-building/Airship Academy/Story Outline.md
