extends /templates/layout.pug

block append title
  | Drak | Wiki | Langenium

block append page
  .row
    include:markdown /universe/stories-world-building/Races/Drak.md
    img(src='/universe/art/production/covers/Langenium - Lux Atlas_Drak.png')