extends /templates/layout.pug

block append title
  | End of Love | Wiki | Langenium

block append page
  .row
    h2 End of Love
    include:markdown /universe/stories-world-building/Arcs/End of Love.md
