extends /templates/layout.pug

block append title
  | Epoch Exordium | Wiki | Langenium

block append page
  .row
    h2 Epoch Exordium
    ul
      li
        a(href='/wiki/epoch-exordium-gameplay.html') Gameplay
    include:markdown /universe/documentation/games/Langenium--Epoch-Exordium/README.md
    h3 Storyline
    include:markdown /universe/stories-world-building/Epoch Exordium/Prologue for Epoch Exordium.md
