extends /templates/layout.pug

block append title
  | Tigris | Wiki | Langenium

block append page
  .row
    include:markdown /universe/stories-world-building/Races/Tigris.md
    img(src='/universe/art/production/covers/Langenium - Lux Atlas_Tigris.png')