extends /templates/layout.pug

block append title
  | WERP | Wiki | Langenium

block append page
  .row
    include:markdown /universe/stories-world-building/Races/WERP.md
    img(src='/universe/art/production/covers/Langenium - Lux Atlas_WERP.png')