body
	font-size 75%

#wrapper 
	center(1440px)

#page_header 
	col(1)

#page_section #page_nav 
	col(3/12)

#page_section #page_content 
	col(5/12)

#page_section #page_sidebar 
	col(4/12)

@media screen and (max-width: 1140px)
	body
		font-size 85%
	#wrapper {
		center(960px)
	}
	#page_section #page_nav {
		col(4/12)
	}
	#page_section #page_content {
		col(8/12)
		margin-right 0
	}
	#page_section #page_sidebar {
		col(1)
	}

@media screen and (max-width: 768px)
	body
		font-size 95%
	#wrapper {
		center(600px)
	}
	#page_section #page_nav {
		col(1)
	}
	#page_section #page_content {
		col(1)
	}
	#page_section #page_sidebar {
		col(1)
	}