#help
    background: rgba(0,0,0,0.9);
    color: white;
    display: none;
    position: absolute;
    top: 12dvh;
    left: 12dvw;
    width: 76dvw;
    height: 76dvh;
    z-index: 5;
    overflow-y: scroll;

    &.active
        display: block

    button
        background: black;
        border-radius: 32px;
        font-size: 1.5rem
        color: white;
        position: absolute;
        width: 48px;
        height: 48px;
        right: 0;
        top: 0;
        margin-right: 12px;
        margin-top: 12px;

    h1,
    h2
        padding 0.75rem 1rem 0.25rem
    
    p
        line-height 1.5rem
        padding 0.25rem 1rem
