/**************************************************************
	Langenium Game Styles
	Author: Paul Brzeski
**************************************************************/
html, body {
	background-color: #000000;
}
body {
	margin: 0;
	overflow: hidden;
}
#game {
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}