.aircraft
    include ../../../assets/map_icons/aircraft.svg
.ship
    include ../../../assets/map_icons/ship.svg
.special 
    include ../../../assets/map_icons/special.svg
.structure
    include ../../../assets/map_icons/structure.svg
