@import "./defaults.styl"

body
	font-size 75%

#wrapper 
	center(1440px)

#page_header 
	column(1)
	padding 1.5% 1.5%

#page_header .main_menu
	main_menu()

#page_section
	padding 0 1.5%

#page_section #page_content 
	column(1/2)

#page_section #page_sidebar 
	column(1/2)

@media screen and (max-width: 1140px)
	body
		font-size 85%
	#wrapper {
		center(960px)
	}
	#page_section #page_content {
		column(2/3)
	}
	#page_section #page_sidebar {
		column(1/3)
	}

@media screen and (max-width: 768px)
	body
		font-size 95%
	#wrapper {
		center(600px)
	}
	#page_section #page_content {
		column(1)
	}
	#page_section #page_sidebar {
		column(1)
	}