.row
	.round-box.last
		.span-21.last
			h2 About Langenium
			p Langenium is a web based sci-fi MMORPG, in a simple retro 3D setting (think N64/PS1).
			p The game is set on the ocean planet Ibidan. Players embark on a career as either a Mercenary, Sniper, Pirate, Assassin, Techomancer or Biomancer.
			h3 Open Beta
			p I'm aiming to have launch the game as an open beta sometime in 2013, but it'll come down to how quickly I can build it up. 
