.row
	.round-box.last
		.span-21.last
			h2 Game Guide
			if (logged_id == true)
				ul.subnav
					li
						a(href='new') New
			ul.breadcrumbs
				- each breadcrumb in breadcrumbs
					li
						a(href=breadcrumb.url)= breadcrumb.name
						p.arrow
			h3= content.Title

			.round_box
				ul
					- each article in content
						li
							- var page_url = '/guide/' + article.Title;
							a(href=page_url)= article.Title