extends /templates/layout.pug

block append scripts
  script(src='/dist/character_test.js')

block append title
  | Character Test | Game Demos | Langenium

block append page
  .row
    .character_test