extends /templates/layout.pug

block append scripts
  script(src='/dist/ocean_scene.js')

block append title
  | Ocean Scene | Game Demos | Langenium

block append page
  .row
    h3 Ocean Scene
    p The planet Ibidan is covered entirely in ocean, with a few scattered islands and geographical features.
    span#waterSize
    p webgl gpgpu water
    span#options 
    p Water size
    .ocean_scene