.sidebar-button,
.console {
	position: absolute;
	z-index: 1;
}

.console .item{
	-webkit-user-select: auto;  /* Chrome all / Safari all */
	-moz-user-select: auto;     /* Firefox all */
	-ms-user-select: auto;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: auto;
	user-select: auto;          
}

.console {
	background-color:rgba(0,0,0,0.5);
	padding-left: 50px;
}
.console .menu {
	overflow-y: scroll;
	max-height: 160px;
}

.console .ui.input input {
	color: #FFFFFF;
}

.sidebar .ui.dropdown .text {
	max-width: 100px;
}

@media only screen and (max-width : 768px) {

}