include web-apis.pug
script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/Live2D-WebGL-SDK/lib/live2d.min.js')
script(src='vendor/threejs/build/three.min.js')
script(src='vendor/Live2D_ThreeJS/Live2DRender.js')