script(type="text/x-handlebars", id="about")
	#page
		#sidebar
			ul
				li Introduction to the Langenium franchise
				li How it began
				li Current status
				li Future Direction
				li Github repos - Universe and main
		#content
			ul
				| {{#each item in model}}
				li {{item}}
				| {{/each}}