script(type="text/x-handlebars", id="blog")
	#page
		#sidebar
			ul
				| {{#each item in model}}
				li
					<img {{bind-attr src=item.picture}} />
					| {{item.created_time}} 
					| {{#link-to 'posts' item.id}}
					| {{item.name}}
					| {{/link-to}}
					| {{item.created_time}}
				| {{/each}}
		#content
			| {{outlet}}
		