script(type="text/x-handlebars", id="blog")
	#page
		#sidebar
			ul
				| {{#each item in model}}
				li 
					| {{#link-to 'posts' item.id}}
					| {{item.title}}
					| {{/link-to}}
				| {{/each}}
		#content
			| {{outlet}}
		