script(type="text/x-handlebars", id="index")
	#page
		#content
			div(class="slideshow")
				| {{#each item in articles}}
				.slide
					| {{#link-to "article" item.id}}
					h3 {{item.title}}
					| {{/link-to}}	
					| {{#link-to "article" item.id}}
					<img {{bind-attr src=item.picture}} />
					| {{/link-to}}	

				| {{/each}}
		#sidebar
			ul
				| {{#each item in news}}
				li 
					p {{item.created_time}}
					| {{#link-to "posts" item.id}}
					<img {{bind-attr src=item.picture}} />
					| {{/link-to}}	
					p {{{item.cut_message}}}
				| {{/each}}