script(type="text/x-handlebars", id="index")
	#page
		#content
			ul.slideshow
				li
					a(href='#')
						img(src='/assets/featured.png')
					a(href='#')
						h3 Title of the slide
					p Bacon ipsum dolor sit amet pork chop drumstick chuck ribeye spare ribs corned beef. Cow filet mignon shankle, ground round pig sausage jerky beef ribs brisket ribeye.
		#sidebar
			ul
				| {{#each item in model}}
				li 
					| {{#link-to "posts" item.id}}
					h3 {{item.title}}
					| {{/link-to}}
					p {{item.description}}
				| {{/each}}