.row
	.round-box.last
		.span-21.last
			h2  Gallery
			ul.breadcrumbs
				- each breadcrumb in breadcrumbs
					li
						a(href=breadcrumb.url)= breadcrumb.name
						p.arrow
			ul.gallery
				- each gallery in gallery_list
					li
						a(href=gallery.url)
							img(src=gallery.photo_url)
						p= gallery.name