.row
	.round-box.last
		.span-14.last
			#slideshow.round-box
				h2.hidden Slideshow
				ul.slides
					li
						.text
							h3 Welcome to Langenium
							p A web-based airship MMORPG in a 3D sci-fi setting.
							p This site is currently under construction.
							p Get updates from the 
								a(href='http://www.facebook.com/Langenium') Langenium Facebook page.
						img(src='/website/images/slide2-01.png')
					li						
						.text
							h3 Game trailer
							p Take to the skies in your airship and hunt pirates
							p Langenium will offer various mission-based and random combat experiences
						a(href='http://www.youtube.com/watch?v=a4ebwHrVykI').video Watch the game trailer
					li
						.text
							h3 Factions
							p There are three factions in the game
							ul
								li 
										h4 The Kingdom of Winthrom
								li 
										h4 Al-Alazaar
								li 
										h4 The Union
						img(src='/website/images/slide1-01.png')
					li				
						.text
							h3 Storyline trailer
							p Langenium is set on the water planet Ibidan following the destruction of Earth 200 years ago.
							p This storyline will play a large part in the single player campaigns.						
						a(href='http://www.youtube.com/watch?v=tPPEHiuq5n4').video Watch the storyline trailer
				#controls
	.round-box.last
		.span-6.last 
			#play
				h2.hidden Play
				h3 Play Langenium
				.content
					p	Langenium will eventually use OpenID and Facebook for sign-in. 
					p	For now, give the test demo a spin.
					table
						tr
							td 
								strong W
							td Forward
							td 
								strong A
							td Left
						tr
							td 
								strong S
							td Back
							td 
								strong D
							td Right
						tr
							td 
								strong Space
							td Up
							td 
								strong Shift
							td Down
						tr
							td(colspan='2') 
								strong Mouse-Scroll
							td(colspan='2') Zoom
						tr
							td(colspan='2') 
								strong Left-Click Hold
							td(colspan='2') Rotate view
				a(href='/play',target='_new').button 
					span Launch game
				p.small Requires Google Chrome or Firefox. Opera and IE currently don't support THREEJS
.row
	.round-box.last
		.span-14.last
			#news
				h2.hidden News
				ul
					li.loading
						h3 
							img(src='/shared/images/loading.gif')
							span Loading news
											
	.round-box.last
		.span-6.last
			#game_guide
				h3 Game guide
				ul
					li
						a(href='#')
							span How to play
					li
						a(href='#')
							span Story
					li
						a(href='#')
							span Locations
					li
						a(href='#')
							span Factions
					li
						a(href='#')
							span Ships
					li
						a(href='#')
							span Enemies