#flight_controls
    style.
        .control {
            max-width: 10vw;
        }

        svg * {
            transform-origin: 50% 50% 0;
        }
    .control
        include ../assets/flight_controls/Airspeed.svg