style.
    #flight_instruments {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        pointer-events: none;
    }
    .control {
        display: none;
        margin-bottom: min(-11vw, -11vh, -220px);
        max-width: max(8vw, 8vh, 160px);
        transition: display 700ms, margin 700ms;
    }

    .control.active {
        display: block;
        margin-bottom: max(1vw, 1vh);
    }

    svg * {
        transform-origin: 50% 50% 0;
    }

    .movement-pad {
        z-index: 2;
        left: 1vw !important;
    }

    .rotation-pad {
        z-index: 2;
        left: calc(100% - 115px) !important;
    }

    .slider-stick {
        z-index: 2;
        left: calc(100% - 105px) !important;
    }
#flight_instruments
    .control
        include ../assets/flight_instruments/Airspeed.svg