doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1, user-scalable=0')
        meta(name="description" content=description)

        title= title

        include ./partials/game_client/head.pug

        link(rel='stylesheet' href='/assets/game_client.css')

    body(onload="_init( 3000 );")
        noscript
            style.
                h1#loadingSign { display: none }
                #page-wrapper {
                    z-index: 2;
                }
        #ui_overlay
            #debugging_tools
            #main_menu
            #object_editor
            #scene_overview
            #preview_materials
                div(style='color:#FFF; margin: 1rem;') Previewing Procedural Materials
        #game_overlay
            #hud
            #map
            #scanner_targets
        #templates
            script#scene_overview_table(type='html_template_in_a_script_tag')
                include ./partials/ui/menus/scene_overview-table.pug
            script#scene_overview_row(type='html_template_in_a_script_tag')
                include ./partials/ui/menus/scene_overview-row.pug
            template#overlays_scanner_target
                include ./partials/overlays/scanner-target.pug
            template#map_icons
                include ./partials/overlays/map-icons.pug
        #webgl-wrapper
            canvas#loader_symbols
            canvas#loader_image
            video#thruster( autoplay="true" muted="muted" loop crossOrigin="anonymous" playsinline style="display:none")
                source( src="https://langenium.com/assets/textures/thruster.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
            h1#loadingSign
                div Loading
                img(src='/assets/images/tail-spin.svg' alt='Loading spinner')
            include ./partials/game_client/door_image.pug
            #webgl
            include ./partials/game_client/scripts.pug
        include ./partials/ui/flight_instruments.pug
