#content
	.blog-feature
		a(href='#/blog/2014/04/11-epoch-exordium')
			h3 Langenium - Epoch Exordium
		.time 11th of April 2014
		p Epoch Exordium is an RPG short set in a network of space stations that were built by an AI
		a(href='#/blog/2014/04/11-epoch-exordium').img
			img(src='./content/feature1.png')
	.blog-item
		a(href='#/blog/2014/04/25-staging-server')
			h3 Introducing the Staging Server
		a(href='#/blog/2014/04/25-staging-server').push-left
			img(src='./content/thumb5.png')
		.time 25th of April 2014 
		p I've held off on deploying the latest code to keep the website up. The staging server gives a 2nd option
	br
	.blog-item
		a(href='#/blog/2014/04/12-langenium-characters')
			h3 MMO Character Roster (Draft 2)
		a(href='#/blog/2014/04/12-langenium-characters').push-right
			img(src='./content/thumb7.png')
		.time 12th of April 2014 
		p More storyline characters. I've got my main cast, so I'll probably start working on proper bodies soon 
	br
	.blog-item
		a(href='#/blog/2014/03/27-texture-work')
			h3 Texture work
		a(href='#/blog/2014/03/27-texture-work').push-right
			img(src='./content/thumb4.jpg')
		.time 27th of March 2014 
		p Working on textures so I can immediately go into creating the space station models and interiors.
#sidebar
	.blog-item
		a(href='#/blog/2014/04/25-staging-server')
			h3 Introducing the Staging Server
		.time 25th of April 2014 
	br
	.blog-item
		a(href='#/blog/2014/04/12-langenium-characters')
			h3 MMO Character Roster (Draft 2)
		.time 12th of April 2014 
	br
	.blog-item
		a(href='#/blog/2014/04/11-epoch-exordium')
			h3 Langenium - Epoch Exordium
		.time 11th of April 2014 
	br
	.blog-item
		a(href='#/blog/2014/03/27-texture-work')
			h3 Texture work
		.time 27th of March 2014 