#content.media
	h2 Media
	p Turducken bresaola chicken, capicola short loin sirloin pork loin ground round spare ribs pancetta kielbasa jowl bacon ribeye chuck. Rump frankfurter strip steak corned beef bacon, andouille venison sirloin porchetta chicken. 
	p Meatloaf shoulder shankle ball tip, t-bone biltong sirloin andouille pork loin tri-tip pastrami short loin hamburger.
	.push-left
		a(href='#/media/concept-art')
			h3 Concept art
		img(src='./content/thumb1.jpg')
	.push-left
		a(href='#/media/game-assets')
			h3 Game assets
		img(src='./content/thumb4.jpg')
	.push-left
		a(href='#/media/screenshots')
			h3 Screenshots
		img(src='./content/thumb5.png')
	.push-left
		a(href='#/media/videos')
			h3 Videos
		img(src='./content/thumb6.png')