// Menu Styles

main_menu()
	overflow visible
	border-style solid
	border-width 45px
	border-image url("/shared/images/border-01.png") 81 fill round
	transition-delay 0s
	transition-duration 0.5s
	transition-property all
	transition-timing-function ease
	box-sizing border-box