/* 
	Langenium application stylesheet
*/
@font-face {
  font-family: 'Franchise';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/font/francise.eot");
  src: url("/assets/font/franchise.eot?#iefix") format('embedded-opentype'), url("/assets/font/franchise.woff") format('woff'), url("/assets/font/franchise.ttf") format('truetype'), url("/assets/font/franchise.svg#franchiseregular") format('svg');
}
h1 {
  margin: 0;
  float: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franchise';
}
html,
body {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
body {
  font-family: arial;
  font-size: 75%;
  color: #fff;
}
.dg.ac {
  z-index: 1 !important;
}
#viewport > * {
  z-index: 1;
  position: relative;
}
body > canvas {
  position: fixed;
  z-index: 0;
}
h1 {
  float: left;
  clear: both;
  display: block;
}
h1 a {
  padding: 0.125em 0;
  font-size: 0.1px;
}
h3 {
  font-size: 1.5em;
}
.push-left {
  float: left;
}
.push-right {
  float: right;
}
#container {
  padding: 1em;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#container * {
  pointer-events: auto;
}
#container #pages {
  display: none;
}
#container #viewport {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#container #viewport:before,
#container #viewport:after {
  content: '';
  display: table;
}
#container #viewport:after {
  clear: both;
}
#container #viewport nav#main-menu {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  float: left;
}
#container #viewport nav#main-menu:before,
#container #viewport nav#main-menu:after {
  content: '';
  display: table;
}
#container #viewport nav#main-menu:after {
  clear: both;
}
#container #viewport nav#main-menu:last-child {
  margin-right: 0%;
}
#container #viewport nav#main-menu a {
  float: left;
  color: #fff;
  margin: 1em 0.25em;
  padding: 0.35em 0.5em;
  font-family: 'Franchise';
  font-size: 2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
#container #viewport nav#main-menu a:first-child {
  padding: 0 1em 0 0;
  margin: 0 0.25em 0 0;
}
#container #viewport nav#main-menu a:hover,
#container #viewport nav#main-menu a:active {
  text-decoration: underline;
}
#container #viewport #page {
  padding: 1.5% 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#container #viewport #page:before,
#container #viewport #page:after {
  content: '';
  display: table;
}
#container #viewport #page:after {
  clear: both;
}
#container #viewport #page:last-child {
  margin-right: 0%;
}
#container #viewport #page .blog-item a {
  text-decoration: none;
}
#container #viewport #page .blog-item a h3 {
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#container #viewport #page .blog-feature {
  width: 100%;
}
#container #viewport #page .blog-feature a {
  color: #fff;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
#container #viewport #page .blog-feature a h3 {
  margin: 0;
}
#container #viewport #page .blog-feature a.img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
#container #viewport #page .slideshow .slide {
  width: 100%;
}
#container #viewport #page .slideshow .slide a {
  color: #fff;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
#container #viewport #page .slideshow .slide a h3 {
  margin: 0;
}
#container #viewport #page .slideshow .slide a.img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
#container #viewport #page #content {
  border-style: solid;
  border-width: 32px;
  border-image: url("/assets/border-02.png") 42 fill round;
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
#container #viewport #page #content:before,
#container #viewport #page #content:after {
  content: '';
  display: table;
}
#container #viewport #page #content:after {
  clear: both;
}
#container #viewport #page #content:last-child {
  margin-right: 0%;
}
#container #viewport #page #content.home {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 61.375%;
  margin-left: 0%;
  margin-right: 3%;
}
#container #viewport #page #content.home:before,
#container #viewport #page #content.home:after {
  content: '';
  display: table;
}
#container #viewport #page #content.home:after {
  clear: both;
}
#container #viewport #page #content.home:last-child {
  margin-right: 0%;
}
#container #viewport #page #content.media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
#container #viewport #page #content.media:before,
#container #viewport #page #content.media:after {
  content: '';
  display: table;
}
#container #viewport #page #content.media:after {
  clear: both;
}
#container #viewport #page #content.media:last-child {
  margin-right: 0%;
}
#container #viewport #page #sidebar {
  border-style: solid;
  border-width: 32px;
  border-image: url("/assets/border-03.png") 80 77 fill round;
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
#container #viewport #page #sidebar:before,
#container #viewport #page #sidebar:after {
  content: '';
  display: table;
}
#container #viewport #page #sidebar:after {
  clear: both;
}
#container #viewport #page #sidebar:last-child {
  margin-right: 0%;
}
#container #viewport #page #sidebar.home {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 35.625%;
  margin-left: 0%;
  margin-right: 3%;
}
#container #viewport #page #sidebar.home:before,
#container #viewport #page #sidebar.home:after {
  content: '';
  display: table;
}
#container #viewport #page #sidebar.home:after {
  clear: both;
}
#container #viewport #page #sidebar.home:last-child {
  margin-right: 0%;
}
@media screen and (max-width: 1140px) {
  body {
    font-size: 85%;
  }
  #viewport {
    *zoom: 1;
    width: auto;
    max-width: 960px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #viewport:before,
  #viewport:after {
    content: '';
    display: table;
  }
  #viewport:after {
    clear: both;
  }
  #container #viewport #page #content,
  #container #viewport #page #content.home {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #container #viewport #page #content:before,
  #container #viewport #page #content.home:before,
  #container #viewport #page #content:after,
  #container #viewport #page #content.home:after {
    content: '';
    display: table;
  }
  #container #viewport #page #content:after,
  #container #viewport #page #content.home:after {
    clear: both;
  }
  #container #viewport #page #content:last-child,
  #container #viewport #page #content.home:last-child {
    margin-right: 0%;
  }
  #container #viewport #page #sidebar,
  #container #viewport #page #sidebar.home {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #container #viewport #page #sidebar:before,
  #container #viewport #page #sidebar.home:before,
  #container #viewport #page #sidebar:after,
  #container #viewport #page #sidebar.home:after {
    content: '';
    display: table;
  }
  #container #viewport #page #sidebar:after,
  #container #viewport #page #sidebar.home:after {
    clear: both;
  }
  #container #viewport #page #sidebar:last-child,
  #container #viewport #page #sidebar.home:last-child {
    margin-right: 0%;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 95%;
  }
  #viewport {
    *zoom: 1;
    width: auto;
    max-width: 600px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #viewport:before,
  #viewport:after {
    content: '';
    display: table;
  }
  #viewport:after {
    clear: both;
  }
}
