doctype html
html
  include /templates/partials/head.pug
  body
    #fb-root
    .container
      include /templates/partials/header.pug
      .row
        p Langenium is an upcoming sci-fi series of games. The custom engine is open source and based on open technologies including webGL, node.js and SVG. As a web based series, Langenium relies heavily on procedural generation to reduce content size.
        p The project is hosted publicly on Github and is open for anyone to provide feedback and review.
        p Code development: 
          a(href="https://github.com/paulbrzeski/Langenium") https://github.com/paulbrzeski/Langenium 
        p Creative development: 
          a(href="https://github.com/paulbrzeski/Langenium-Universe") https://github.com/paulbrzeski/Langenium-Universe  
        p The technologies for the vision behind Langenium are still on the bleeding edge of web development and as a result the project does not have any fixed release dates. New techniques and technologies are continually trialled during development in order to achieve maximum efficiency for the creative asset pipelines and ongoing software support.
        p Currently planned releases:
          ul.ui.list
            li Langenium: Epoch Exordium
            li Langenium: Airship Academy
            li Langenium MMO
            li Langenium: Fall of the Elx
        p Other media: 
          ul.ui.list
            li Langenium webcomics
            li Merchandise
        p This website is still under construction. For the latest news, visit the 
          a(href="http://www.facebook.com/Langenium") Langenium Facebook
        | page.
  include /templates/partials/scripts.pug

