doctype html
html
  head
    title
      block title
    link(href='/vendor/Semantic-UI/dist/semantic.min.css', rel='stylesheet')
    link(href='/dist/styles.css', rel='stylesheet')
    link(href='/dist/content.css', rel='stylesheet')
  body
    #fb-root
    .container
      include /templates/header.pug
      #content
        block page
  include /templates/scripts.pug