<div class="ui thin inverted vertical sidebar menu">
	<a class="active item">
	  Dogs Weekly <span class="ui label">213</span>
	</a>
	<a class="item">
	  Joystiq <span class="ui tiny label">113</span>
	</a>
	<div class="item">
	  <b>Archived Feeds</b>
	  <div class="menu">
	    <a class="item">
	      Engadget <span class="ui label">11</span>
	    </a>
	    <a class="item">
	      NY Times Tech Blog <span class="ui label">21</span>
	    </a>
	  </div>
	</div>
	<a class="item">
	  <i class="bookmark icon"></i> Favorites
	</a>
	<div class="ui dropdown item">
	  <i class="add icon"></i> New
	  <div class="menu">
	    <a class="item"><i class="rss icon"></i> Feed</a>
	    <a class="item"><i class="tag icon"></i> Tag</a>
	    <a class="item"><i class="folder icon"></i> Group</a>
	  </div>
	</div>
</div>
<div class="ui black mini launch right attached button launch">
	<i class="list layout icon"></i>
</div>
<div class="ui page grid">

</div>