/*
	Import dependencies
*/

@import "../shared/defaults.styl"
@import "../shared/forms.styl"
@import "../shared/menu_layouts.styl"
@import "../shared/menu_styles.styl"
@import "../shared/panels.styl"

@import "./layouts/homepage.styl"


/*
	Page styles
*/

defaults()

#page_header .login
	horiz_nav()
	float right
	color #999999
	border-style solid
	border-width 28px
	border-image url("/assets/shared/border-02.png") 42 41 42 42 fill round
	box-sizing border-box
	li
		margin -10px auto
	input[type='text']
		textbox()
		float right
	input[type='checkbox'], label[for='chk_remember']
		float left
	input[type='checkbox']
		margin-left 15px
		clear left
	label[for='chk_remember']
		clear right
	a
		button()

#page_section #page_nav ul.vert_nav
	vert_nav()
	main_menu()
	overflow visible
	li 
		margin 0 0 0 -10px
		width 100%
	li a			
		button()
		width 100%
		font-weight bold
		text-transform uppercase
		text-align center


#page_section #page_content header
	featured_content_panel()

#page_section #page_content section
	featured_content_scroller_panel()
	ul.horiz_nav
		horiz_nav()

#page_section #page_content footer
	ul.thumb_nav
		thumb_nav()


#page_section #page_sidebar article
	feed_content_panel()
	img
		float left
 
/*
	Layout Responsiveness
*/

@media screen and (max-width: 1140px)
	#page_section #page_sidebar .thumb {
		width: 20%;
	}



@media screen and (max-width: 768px)
	#page_section #page_sidebar .thumb {
		width: 40%;
	}

	#page_header .login li {
		margin: -10px auto 10px auto;
	}
