/*
	Import dependencies
*/
@font-face {
  font-family: 'Franchise';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/shared/font/francise.eot");
  src: url("/assets/shared/font/franchise.eot?#iefix") format('embedded-opentype'), url("/assets/shared/font/franchise.woff") format('woff'), url("/assets/shared/font/franchise.ttf") format('truetype'), url("/assets/shared/font/franchise.svg#franchiseregular") format('svg');
}
h1 {
  margin: 0;
  float: left;
}
h1,
h2 {
  letter-spacing: 0.025em;
}
h3,
h4,
h5,
h6 {
  letter-spacing: 0.01em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franchise';
}
#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
/* Ensure div tag stays behind content -999 might work, too. */
}
.stretch {
  width: 100%;
  height: 100%;
}
/*
	Page styles
*/
#page_header .login {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  float: right;
  color: #999;
}
#page_header .login li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#page_header .login li {
  margin: 10px 5px 10px auto;
  float: left;
}
#page_header .login input[type='text'] {
  margin: 5px 0;
  background: transparent none;
  border-style: solid;
  border-width: 10px;
  border-image: url("/assets/shared/border-04.png") 71 69 69 72 fill stretch;
  box-sizing: border-box;
  color: #666;
  text-decoration: none;
  float: right;
}
#page_header .login input[type='text']:hover {
  color: #999;
  border-image: url("/assets/shared/border-08.png") 71 69 69 72 fill stretch;
  transition: all 0.25s ease;
  box-sizing: border-box;
}
#page_header .login input[type='checkbox'],
#page_header .login label[for='chk_remember'] {
  float: left;
}
#page_header .login input[type='checkbox'] {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: -10px;
  clear: left;
}
#page_header .login label[for='chk_remember'] {
  margin-top: 3.5px;
  margin-bottom: -10px;
  padding-left: 2.5px;
  clear: right;
  font-family: 'Franchise';
  font-size: 1.2em;
}
#page_header .login li:last-child {
  margin: 10px 0 0 0;
}
#page_header .login a {
  font-family: 'Franchise';
  font-size: 1.25em;
  border-style: solid;
  border-width: 10px;
  border-image: url("/assets/shared/border-05.png") 71 69 69 72 fill stretch;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  float: left;
}
#page_header .login a:hover {
  color: #999;
  border-width: 10px;
  border-image: url("/assets/shared/border-07.png") 71 69 69 72 fill stretch;
  transition: all 0.25s ease;
}
#page_section #page_nav ul.vert_nav {
  padding: 0;
  float: left;
  height: 100%;
  list-style: none;
  padding-top: 1em;
  padding-left: 4em;
  float: left;
}
#page_section #page_nav ul.vert_nav li {
  float: left;
  clear: both;
}
#page_section #page_nav ul.vert_nav li {
  float: left;
}
#page_section #page_nav ul.vert_nav li a {
  font-family: 'Franchise';
  font-size: 1.25em;
  border-style: solid;
  border-width: 10px;
  border-image: url("/assets/shared/border-05.png") 71 69 69 72 fill stretch;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  float: left;
  margin: 0.5em 0.25em;
  padding: 0.35em 0.5em;
  font-family: 'Franchise';
  font-size: 1.85em;
  text-transform: uppercase;
  text-align: center;
}
#page_section #page_nav ul.vert_nav li a:hover {
  color: #999;
  border-width: 10px;
  border-image: url("/assets/shared/border-07.png") 71 69 69 72 fill stretch;
  transition: all 0.25s ease;
}
body {
  font-size: 75%;
}
#page_header {
  padding: 1.5% 1.5%;
}
#page_header .main_menu {
  padding-top: 1em;
  padding-left: 4em;
  float: left;
}
#page_header .main_menu li {
  float: left;
}
#page_header .main_menu li a {
  font-family: 'Franchise';
  font-size: 1.25em;
  border-style: solid;
  border-width: 10px;
  border-image: url("/assets/shared/border-05.png") 71 69 69 72 fill stretch;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  float: left;
  margin: 0.5em 0.25em;
  padding: 0.35em 0.5em;
  font-family: 'Franchise';
  font-size: 1.85em;
  text-transform: uppercase;
  text-align: center;
}
#page_header .main_menu li a:hover {
  color: #999;
  border-width: 10px;
  border-image: url("/assets/shared/border-07.png") 71 69 69 72 fill stretch;
  transition: all 0.25s ease;
}
#page_section {
  padding: 0 1.5%;
}
@media screen and (max-width: 1140px) {
  body {
    font-size: 85%;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 95%;
  }
}
#page_section #page_content header {
  border-width: 32px;
  border-image: url("/assets/shared/border-03.png") 80 77 fill round;
  color: #999;
  box-sizing: border-box;
}
#page_section #page_content header h2 {
  color: #fff;
  text-transform: uppercase;
}
#page_section #page_content section {
  border-style: solid;
  border-width: 32px;
  border-image: url("/assets/shared/border-02.png") 42 fill round;
  box-sizing: border-box;
}
#page_section #page_content section ul,
#page_section #page_content section li,
#page_section #page_content section a {
  height: 50px;
  display: inline-block;
}
#page_section #page_content section img {
  margin-right: 15px;
}
#page_section #page_content section ul.horiz_nav {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
#page_section #page_content section ul.horiz_nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#page_section #page_content footer ul.thumb_nav {
  padding: 0;
  margin: 10px 20px;
  float: left;
  list-style: none;
}
#page_section #page_content footer ul.thumb_nav li {
  margin: 0 5px 0 0;
  display: block;
  float: left;
}
#page_section #page_content footer ul.thumb_nav li a {
  text-decoration: none;
  font-family: 'Franchise';
  font-size: 1.5em;
  display: block;
  float: left;
  border-style: solid;
  border-width: 24px;
  border-image: url("/assets/shared/border-08.png") 77 fill round;
  box-sizing: border-box;
  color: #999;
}
#page_section #page_content footer ul.thumb_nav li a:hover {
  color: #fff;
}
#page_section #page_sidebar article {
  border-style: solid;
  border-width: 22px;
  border-image: url("/assets/shared/border-08.png") 80 77 fill round;
  box-sizing: border-box;
  margin-bottom: 2.5%;
}
#page_section #page_sidebar article h3 a {
  text-decoration: none;
  color: #aaa;
}
#page_section #page_sidebar article .thumb {
  max-width: 30%;
}
#page_section #page_sidebar article .thumb img {
  margin-right: 15px;
}
#page_section #page_sidebar article p {
  margin-top: -2.5px;
  color: #999;
}
#page_section #page_sidebar article img {
  float: left;
}
/*
	Layout Responsiveness
*/
@media screen and (max-width: 1140px) {
  #page_section #page_sidebar .thumb {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  #page_section #page_sidebar .thumb {
    width: 40%;
  }
  #page_header .login li {
    margin: -10px auto 10px auto;
  }
}
