// Menu Layouts

horiz_nav()
	list-style none
	li 
		float left	

vert_nav()
	float left
	height 100%
	list-style none
	li 
		float left	
		clear both

thumb_nav()
	margin 10px 20px
	float left
	list-style none
	li 
		margin 0
		display block
		float left
		a
			text-decoration none
			display block
			float left
			border-style solid
			border-width 24px
			border-image: url("/images/shared/border-08.png") 76 73 78 75 fill round;
			box-sizing border-box
			color #999999
			&:hover
				color #FFFFFF