// Content Styles

featured_content_panel()
	border-width 28px
	border-image url("/assets/shared/border-03.png") 80 77 fill round
	color #999999
	box-sizing border-box
	h2
		color #FFFFFF
		text-transform uppercase
	> *
		margin-left 0
		margin-right 0


featured_content_scroller_panel()
	border-style solid
	border-width 28px
	border-image url("/assets/shared/border-02.png") 42 41 42 42 fill round
	box-sizing border-box
	> *
		margin-left 0
		margin-right 0
	img
		margin-right 15px


feed_content_panel()
	border-style solid
	border-width 22px
	border-image url("/assets/shared/border-08.png") 80 77 fill round
	box-sizing border-box
	h3
		margin 0 0 0.825em 0
		a
			text-decoration none
			color #AAAAAA
	.thumb
		max-width 30%
		img
			margin-right 15px
	p
		margin-top -2.5px
		color #999999