h2 About Us
.content
  .row.center
    .wide-column
      p
        | We&apos;re Open Studios, a multi disciplinary digital production studio.
        br
        | Creating unique and meaningful experiences since 2019.
        br
        | We are a husband and husband team, plus two dogs and a cat.
  .row
    .column
      img(src='./assets/images/about-us/paul.jpg' style=' width: 100%; height: auto;' alt='Selfie of Paul with his two doggos in the car')
      h3
        | Paul Brzeski&nbsp;
        a.icon_button(href='https://linkedin.com/in/paul-b-23620b209/' title='Paul Brzeski on LinkedIn')
          img(src='./assets/images/linkedin.png')
      p
        | Introducing Paul, a versatile and forward-thinking problem solver with over 15 years in the industry. Beyond the traditional boundaries of coding, Paul has embraced a multifaceted style that seamlessly blends technology and creativity to craft innovative solutions.
      p
        | With a natural ability to envision the intersection of art and technology, Paul&apos;s journey has been characterized by staying at the forefront of the ever-changing tech landscape and pushing the boundaries of what&apos;s possible. He seamlessly adapts to different environments, bringing a perfect blend of technical expertise and creative flair to each project.
      h4 Skills
      ul
        li 3D Programming 
        li Character design
        li Dashboard systems
        li Generative A.I.
        li Software development
        li Solution architecture
        li Technical consulting
        li UI/UX design
        li Web development
      h4 Tools
      ul
        li Affinity Designer
        li Affinity Photo
        li Blender
        li Linux. Lots of Linux.
        li Stable Diffusion
        li Three.JS
        li VSCode
    .column
      img(src='./assets/images/about-us/garrett.png' style=' width: 100%; height: auto;' alt='Photo of Garrett studying a whisky blend at a distillery in Scotland')
      h3
        | Garrett Kinder&nbsp;
        a.icon_button(href='https://www.linkedin.com/in/garrett-ray-kinder-361ba6a5/' title='Garrett Kinder on LinkedIn')
          img(src='./assets/images/linkedin.png' alt='LinkedIn logo')
      p
        | Meet Garrett, the embodiment of sophistication and innovation, renowned as an award-winning bartender, expert jeweler, and connoisseur of rare whiskies.
      p
        | Embracing the digital realm, Garrett shares his passion and expertise as a taste visionary, enriching the online world with his profound knowledge of aesthetics and all things refined.
      h4 Skills
      ul
        li 3D Modelling, Renders and Prints
        li Creative consulting
        li Generative A.I.
        li Graphic design
        li Photography
        li Product design
        li Social media management
      h4 Tools
      ul
        li Affinity Designer
        li Affinity Photo
        li Blender
        li Stable Diffusion
  .row
    .wide-column
      h3 Our values
  .row
    .column
      p Open Studios acknowledges the Nyoongar Whadjuk people - traditional custodians of this land. We wish to acknowledge the strength of their continuing culture and pay our respects to Elders past and present.
    .column
      img(src='./assets/images/about-us/aboriginal-flag.png' alt='The Australian Aboriginal Flag' style="display: block; margin: 1rem auto; width: 50%; height: auto;")
  .row
    .column
      p Free and Open Source software is as much a way of thinking as it is a licensing scheme, as such we strive to be accountable, transparent, informative and useful to others in all business interactions and activities.
    .column
      img(src='./assets/images/about-us/linux.png' alt='Collage of Open Source project logos' style="display: block; margin: 1rem auto; width: 50%; height: auto;")
  .row
    .column
      p We embrace differences, cherishing the rich tapestry of backgrounds, experiences, and identities that each person brings. It is important to us that working relationships are not only productive but also built on a foundation of mutual respect and appreciation.
    .column
      img(src='./assets/images/about-us/newpride.png' alt='2018 Progress Pride Flag by Daniel Quasar' style="display: block; margin: 1rem auto; width: 50%; height: auto;")
