h2 Accessibility
.content(style='flex-direction: column;')
  p.
    Open Studios aims to meet the Australian business standard for web accessibility. We want our information to be accessible to everyone, regardless of their background or ability.
  h3 Assistive technologies
  p.
    Our website is optimised for use with assistive technologies like screen readers, magnifiers, navigation switches and speech recognition software.
  h3 Browsers and devices
  p.
    Our website works with modern web browsers and uses a responsive design that automatically adjusts to fit the size and type of device being used to access it, for example smartphone, tablet or desktop.
  p.
    The 3D experience has been optimised to work on older devices, using a scaled back version with less special effects in order to produce an enjoyable and consistent experience.
  h3 HTML first
  p.
    We provide content in HTML format whenever possible and follow best practices as set out by relevant organisations such as W3C, WCAG and the Australian government.
  h3 Policy Updates
  p This Policy may change from time to time, this website will be updated with those changes.
  h3 Accessibility Complaints and Enquiries
  p
    | If you have any queries or complaints about our Accessibility Policy please contact us at 
    a(href='mailto:team@openstudios.xyz') team@openstudios.xyz
    | .