h2 AI & Copyright
.content(style='flex-direction: column;')
  p.
    At Open Studios, we are committed to the ethical development and use of artificial intelligence (AI) technology, including generative AI. We believe in fostering innovation, creativity, and respect for intellectual property rights. This statement outlines our principles and guidelines regarding the use of AI and copyrighted works on our platform.
  h3 Copyrighted Works
  p.
    We respect the intellectual property rights of others. All copyrighted works, including but not limited to text, images, videos, and software, are used on our platform with proper authorization, license, or permission from the copyright owners. If you believe that your copyrighted work has been used on our platform or in our work without authorization, please contact us immediately.
  h3 Use of Generative AI Technology
  p.
    We use generative AI technology to enhance user experiences, create original content, and provide valuable services. The generated content in our work is a result of extensive internal research and development efforts, taking great care to ensure proper attribution and licensing so that the product of generative AI does not encroach on the rights of any upstream creators and copyright holders.
  h3 How Our Works Can Be Used by Others
  p.
    Unless otherwise specified, content created by Open Studios and provided on this website is protected by copyright and other applicable laws. Users are encouraged to share, link to, and reference our content for educational and non-commercial purposes, provided they give proper attribution to Open Studios. Commercial use of our content requires explicit permission from us.
  h3 Policy Updates
  p This Policy may change from time to time, this website will be updated with those changes.
  h3 AI and Copyright Enquiries
  p
    | If you have any questions or concerns about our ethical AI practices, use of copyrighted works, or this statement, please contact us at 
    a(href='mailto:team@openstudios.xyz') team@openstudios.xyz
    | .