h2 Case Studies
.content
  .row
    .column
      a(href='https://www.artstation.com/artwork/m8d4la' target='_blank' title='3D Studio Website case study on Artstation')
        img(src='./assets/images/cs1.jpg' style=' width: 100%; height: auto;' alt='Screenshot of the new 3D website experience')
    .column
      h3 This website
      p
        | We relaunched our studio brand looking to demonstrate our capabilities in terms of creativity and technical execution. But more importantly, this is our epicentre.
      p
        | The new studio website is designed to cause shockwaves by being something different but also familiar. We want you to feel like you&apos;ve walked into a real office where we do our work.
      p
        | On the technical side we&apos;ve implemented automatic scaling of viewport and performance so the website works on all devices.
      h4
        a(href='https://www.artstation.com/artwork/m8d4la' target='_blank' title='3D Studio Website case study on Artstation') Read more about this on Artstation
  .row
    .column
      a(href='https://www.artstation.com/artwork/YBgKgY' target='_blank' title='Garrett Ray Jewellery case study on Artstation')
        img(src='./assets/images/cs2.jpg' style=' width: 100%; height: auto;' alt='Screenshot of the Garrett Ray Jewellery website')
    .column
      h3 Garrett Ray Jewellery
      p
        | Garrett Ray Jewellery is a local family owned business offering fine jewellery. We produced the client branding, graphic design, product design and renders, marketing support and web development.
      p
        | Built on Shopify with the Dawn theme. We utilised the platforms built-in Git integration to create an automatic backup of any site changes to version control.
      p
        | After conducting a competitor analysis comparing key pages in this category, extensive content upgrades were made to the site resulting in higher traffic and better user engagement.
      h4
        a(href='https://www.artstation.com/artwork/YBgKgY' target='_blank' title='Garrett Ray Jewellery case study on Artstation') Read more about this on Artstation
  .row
    .column
      a(href='https://www.artstation.com/artwork/5vPBxP' target='_blank' title='Kamigen Aircraft Combat game case study on Artstation')
        img(src='./assets/images/cs3.jpg' style=' width: 100%; height: auto;' alt='Concept art of the Kamigen Aircraft combat game featuring UI elements')
    .column
      h3 Kamigen: Aircraft Combat game
      p
        | A browser based flight simulator, this is a game accompaniment to the web comics and animated series we are also producing for the Kamigen project.
      p
        | Originally built in Three.JS, the Kamigen game is being rebuilt in Unreal Engine 5 using more advanced custom shaders and procedural generation techniques for island topography.
      p This is an internal R&amp;D project with no fixed release date.
      h4
        a(href='https://kamigen.com/game.html' target='_blank' title='Garrett Ray Jewellery case study on Artstation') Play the Kamigen Aircraft Combat game
      h4
        a(href='https://www.artstation.com/artwork/5vPBxP' target='_blank' title='Kamigen Aircraft Combat game case study on Artstation') Read more about this on Artstation
  .row
    .column
      a(href='https://openstudios.artstation.com/projects/DvQA60' target='_blank' title='Kamigen comics and website case study on Artstation')
        img(src='./assets/images/cs4.jpg' style=' width: 100%; height: auto;' alt='Concept art of the Kamigen comics art style currently in the works')
    .column
      h3 Kamigen: Comics and website
      p
        | Kamigen is an in house multimedia project about a post apocalyptic solarpunk Earth and it&apos;s people with themes celebrating pre-colonial Filipino culture.
      p
        | The original black and white Kamigen comics spanned four free issues which were produced to create the backstory and setting for the more advanced productions now underway.
      p
        | Currently focused on relaunching the Kamigen web comics using new art work (picture to the left).
      h4
        a(href='https://kamigen.com/comics.html' target='_blank' title='Kamigen original free web comics') Check out the original Kamigen comics
      h4
        a(href='https://openstudios.artstation.com/projects/DvQA60' target='_blank' title='Kamigen comics and website case study on Artstation') Read more about this on Artstation
  .row
    .column
      a(href='https://openstudios.artstation.com/projects/DvQA4E' target='_blank' title='Langenium case study on Artstation')
      img(src='./assets/images/cs5.jpg' style=' width: 100%; height: auto;' alt='Screenshot of the Langenium MMORPG website which blurred the line between website and video game.')
    .column
      h3 Langenium MMORPG
      p
        | Langenium is an MMORPG concept built on socket.io, Three.JS and Node.JS. Due to the cost of running a server it&apos;s currently offline, but we have plans to bring it back!
      p
        | The node.js server allows website visitors to play Langenium just by visiting the URL in their browser. Players could anonymously hop into a flying vehicle and shoot one another or one of the the bots flying around the map.
      h4
        a(href='https://langenium.com' target='_blank' title='Langenium scene demos') Visit the Langenium scene demos
      h4
        a(href='https://langenium.com' target='_blank' title='Langenium scene demos') Watch the Langenium scene demos
      h4
        a(href='https://openstudios.artstation.com/projects/DvQA4E' target='_blank' title='Langenium case study on Artstation') Read more about this on Artstation