h2 Welcome!
.content
  .row
    .column
      .column
        img(src='./assets/images/cs1xl.jpg' style=' width: 100%; height: auto;' alt='Screenshot of the new 3D website experience')
      .column
        h3 This website
        p
          | The new studio website is designed to cause shockwaves by being something different but also familiar.
          | We want you to feel like you&apos;ve walked into a real office where we do our work.
        a(href='/case_studies.html' style='float: right') See case study
    .column
      h3(style='margin-top: 0') Our work
      img(src='./assets/images/portfolio/open-studios-cherry-blossom-ring-in-zen-garden.jpg' style='margin: 2%; width: 45%; height: auto;' alt='Photo of a Sakura Blossom White Gold Ring in a Japanese Zen garden.')
      img(src='./assets/images/portfolio/open-studios-1-winter-banner-ring.jpg' style='margin: 2%; width: 45%; height: auto;' alt='Winter watercolour painting featuring Yule solid gold ring.')
      img(src='./assets/images/portfolio/open-studios-character-design.jpg' style='margin: 2%; width: 45%; height: auto;' alt='Composition of 3D character in a 2D background for the Kamigen comic')
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style='margin: 2%; width: 45%; height: auto;' alt='Screenshot of the animated intro sequence from Kamigen')
      a(href='/portfolio.html' style='float: right') View portfolio
  noscript
    .row    
      .column-wide
        h3 Welcome to the "1999 Experience"
        p The 3D virtual office requires ECMAScript 2018 to load. Your current browser/device does not seem to support the features we need to boot up so you are seeing the "1999 experience" instead.
