style.
  .portfolio_item {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  tr td:nth-child(1) {
    width: 35%;
  }
  td {
    padding: 1rem;
  }


h2 Portfolio
.content.portfolio
  .row
    .column
      img(src='./assets/images/portfolio/cottagecore.jpg' style=' width: 100%; height: auto;' alt='Photo of a Sakura Blossom White Gold Ring in a Japanese Zen garden.')
      h3 Cottagecore Themed Charms Collection
      table(class='portfolio_item')
        tr
          td Deliverables:
          td 3D Design, Renders, Prints and Final Jewellery Products
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/m8wo3y') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/collections/cottagecore') View the Cottagecore collection

    .column
      img(src='./assets/images/portfolio/to-another-world.jpg' style=' width: 100%; height: auto;'  alt='Winter watercolour painting featuring Yule solid gold ring.')
      h3 'To Another World' Campaign Video
      table(class='portfolio_item')
        tr
          td Deliverables:
          td 3D scene setup, animation, renders and video editing for a re-branding campaign.
        tr
          td Client / Project: 
          td Internal
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/Za9nOm') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://www.youtube.com/watch?v=gYr3hbP24sQ') Watch the video on Youtube
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-cherry-blossom-ring-in-zen-garden.jpg' style=' width: 100%; height: auto;' alt='Photo of a Sakura Blossom White Gold Ring in a Japanese Zen garden.')
      h3 White Gold and Pink Spinel Sakura Blossoms Product and Marketing
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Pink spinel 18k white gold sakura blossom designs, 3D renders and production.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/RyNNRy') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/collections/blossoms') View the Blossoms collection

    .column
      img(src='./assets/images/portfolio/open-studios-1-winter-banner-ring.jpg' style=' width: 100%; height: auto;'  alt='Winter watercolour painting featuring Yule solid gold ring.')
      h3 Yule Watercolour Campaign Banners for Winter Season of 2022
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Watercolour banners designed for marketing the Yule design for the winter season.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/vDwby6') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/collections/all-jewellery?filter.v.price.gte=&filter.v.price.lte=&filter.p.tag=Yule.&sort_by=title-ascending') View the Yule collection
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-gemini-banner.jpg' style=' width: 100%; height: auto;'  alt='Picture of the stars and a Gemini solid gold pendant.')
      h3 Gemini Zodiac Solid Gold Design, Production and Marketing
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Zodiac solid gold jewellery design, 3D renders and social media marketing banners.
        tr
          td Client / Project:
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/Dvzw8R') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/collections/all-jewellery?filter.v.price.gte=&filter.v.price.lte=&filter.p.tag=Gemini&sort_by=title-ascending') View the Gemini collection
    .column
      img(src='./assets/images/portfolio/open-studios-dsc-2682-large.jpg' style=' width: 100%; height: auto;' alt='Close up photo of a finished Madeira Citrine gold pendant.')
      h3 Madeira Citrine 14K Gold pendant fine jewellery commission
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Custom 3D model, renders and manufacture to fit selected gem.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/n0BVeE') See it on Artstation
        tr
          td See it in action:
          td N/A, private collection.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-mabon.jpg' style=' width: 100%; height: auto;' alt='Image of autumn leaves and the Mabon design solid gold ring')
      h3 Marketing banners for jewellery clients website and socials
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Digital photomanipulation, 3D renders, vector graphic design and social media marketing.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/RyeavD') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://www.instagram.com/garrettrayjewellery/') Visit the client's Instagram

    .column
      img(src='./assets/images/portfolio/open-studios-foxtail.jpg' style=' width: 100%; height: auto;' alt='Photo of Foxtail silver chain')
      h3 Handmade Silver Foxtail Chain Design and Product Marketing
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Handmade chains, still life studio photography and online product marketing.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/obdXBw') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/products/fine-silver-handmade-999-foxtail-double-loop-in-loop-chain-choker-to-necklace-length-various-lengths-available') Visit the product page
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-morganite.jpg' style=' width: 100%; height: auto;' alt='Close up of Morganite earrings')
      h3 Handmade 18k Gold Morganite Earring Product and Marketing
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Handmade earrings, still life studio photography and online product marketing.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/6NXxOV') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/products/18k-gold-morganite-earrings') Visit the product page

    .column
      img(src='./assets/images/portfolio/open-studios-character-design.jpg' style=' width: 100%; height: auto;' alt='Composition of 3D character in a 2D background for the Kamigen comic')
      h3 Taka - Manga Style Character Design and Renders from Kamigen
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Character design in 2D, recreated in 3D and placed into comics frames.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://kamigen.com/') Kamigen
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/m8lze8') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://www.instagram.com/p/Cr-84t1JqnA/?img_index=1') Kamigen Comics on Instagram
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-aquamarine.jpg' style=' width: 100%; height: auto;' alt='Close up of Aquamarine pendant necklace')
      h3 Handmade 18k Gold Aquamarine Pendant Product and Marketing
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Handmade necklace pendant, still life studio photography and online product marketing.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/XgxL1R') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/products/18-karat-gold-and-aquamarine-necklace') Visit the product page

    .column
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style=' width: 100%; height: auto;' alt='Screenshot of the animated intro sequence from Kamigen')
      h3 Manga style animated film introduction sequence
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Audio and visual production of an intro sequence for a film or series of the online comics.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://kamigen/') Kamigen
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/8bOl8x') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://www.youtube.com/watch?v=VUzLwHIt_vM') Watch the animation test
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-fanta-garnet.jpg' style=' width: 100%; height: auto;' alt='Close up phto of the Fanta Garnet necklace pendant')
      h3 Handmade 18K Gold Fanta Garnet Necklace Pendant and Marketing
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Handmade necklace pendant, still life studio photography and online product marketing.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/blbaQg') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://grayjewellery.com.au/products/18k-gold-and-fanta-garnet-necklace') Visit the product page

    .column
      img(src='./assets/images/portfolio/open-studios-emerald.jpg' style=' width: 100%; height: auto;' alt='Close up of the Emerald and Diamond gold engagement ring')
      h3 Bespoke Emerald and Diamond 14K Gold Engagement Ring
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Hand drawn sketches, 3D model, renders and manufacture to fit gems.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://grayjewellery.com.au/') Garrett Ray Jewellery
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/49kVLn') See it on Artstation
        tr
          td See it in action:
          td N/A, private collection.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-2019-web-design-home.jpg' style=' width: 100%; height: auto;' alt='Website design for a local software engineering consultancy')
      h3 Software Engineering Consultancy Branding and Website
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Website designs and development using custom static HTML generator.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://paulbrzeski.com/') Paul Brzeski
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/WBY0By') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://paulbrzeski.com/') Visit the client's website

    .column
      img(src='./assets/images/portfolio/open-studios-kamigengame.jpg' style=' width: 100%; height: auto;' alt='Concept art of the Kamigen Aircraft combat game featuring UI elements')
      h3 Three.JS Browser Based Aircraft Combat game for Kamigen
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Designs and playabable prototypes of the web based aircraft combat game concept.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://kamigen.com') Kamigen
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/5vPBxP') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://kamigen.com/game.html') Drop into the pilots seat
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-pelican.jpg' style=' width: 100%; height: auto;' alt='Composition of a 3D vehicle on the 2D background of the Kamigen comics')
      h3 The Pelican - Custom Solarpunk Amphibious Aircraft from Kamigen
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Custom design and 3D renders for solarpunk styled science fiction aircraft concept.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://kamigen.com/') Kamigen
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/YBqKWq') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://www.instagram.com/p/Cr-84t1JqnA/?img_index=1') Kamigen Comics on Instagram
    .column
      img(src='./assets/images/portfolio/open-studios-langenium.jpg' style=' width: 100%; height: auto;' alt='Cropped image of the main Langenium lore poster')
      h3 Langenium MMORPG and Multimedia Franchise Artwork and Production
      table(class='portfolio_item')
        tr
          td Deliverables:
          td Story writing, audio production, 2D and 3D artwork, UX designs and prototypes.
        tr
          td Client / Project: 
          td
            a(target="_blank" href='https://langenium.com/') Langenium
        tr
          td Behind the scenes: 
          td
            a(target="_blank" href='https://www.artstation.com/artwork/1xWV2K') See it on Artstation
        tr
          td See it in action:
          td
            a(target="_blank" href='https://www.youtube.com/watch?v=cJcr09qIVrI') Watch the original trailer