// Mixins
reset-list()
  ul
    padding 0
  li
    display inline-block
    list-style-type none
    padding 1em 1em 0
    vertical-align top

#content
	reset-list()
	li
		border-bottom solid 1px #222
		padding .5em
		background-color #333
		width 100%