/* 
	Langenium application stylesheet
*/

@import 'jeet'
@import './shared/defaults.styl'

html, body
	margin 0
	position absolute
	left 0
	top 0
	right 0
	bottom 0

body 
	font-family arial
	font-size 75%
	color #FFFFFF

.dg.ac
	z-index 1!important

#viewport > *
	z-index 1
	position relative

body > canvas
	position fixed
	z-index 0

h1 
	float left
	clear both
	display block
	a
		padding .125em 0
		font-size 0.1px

h3
	font-size 1.5em

.push-left 
	float left

.push-right
	float right

#container
	padding 1em
	pointer-events none
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	*
		pointer-events auto
	#pages
		display none
	#viewport
		center(1440px)
		nav#main-menu
			column(1)
			float left
			a
				float left		
				&:first-child
					padding 0 1em 0 0
					margin 0 .25em 0 0
				color #FFFFFF			
				margin 1em .25em
				padding .35em .5em
				font-family 'Franchise'
				font-size 2em
				letter-spacing 0.05em
				text-transform uppercase
				text-align center
				text-decoration none
				&:hover,&:active
					text-decoration underline
		#page
			padding 1.5% 0
			column(1)
			.blog-item
				a
					text-decoration none
					h3
						color #FFFFFF
						font-size 1.5em
						letter-spacing 0.05em
						text-transform uppercase
			.blog-feature
				width 100%
				a
					color #FFFFFF
					font-size 2.5em
					letter-spacing 0.05em
					text-transform uppercase
					text-decoration none
					h3
						margin 0
					&.img
						img
							width 100%
							height 100%
							display block
							margin 0 auto
			.slideshow 
					.slide
						width 100%
						a
							color #FFFFFF
							font-size 2.5em
							letter-spacing 0.05em
							text-transform uppercase
							text-decoration none
							h3
								margin 0
							&.img
								img
									width 100%
									height 100%
									display block
									margin 0 auto
			#content
				border-style solid
				border-width 32px
				border-image url("/assets/border-02.png") 42 fill round
				box-sizing border-box
				column(2/3)
				&.home
					column(5/8)
				&.media
					column(1)
			#sidebar
				border-style solid
				border-width 32px
				border-image url("/assets/border-03.png") 80 77 fill round
				box-sizing border-box
				column(1/3)
				&.home
					column(3/8)

@media mTablet
	body {
		font-size 85%
	}
	#viewport {
		center(960px)
	}
	#container #viewport #page #content,
	#container #viewport #page #content.home {
		column(1)
	}
	#container #viewport #page #sidebar,
	#container #viewport #page #sidebar.home {
		column(1)
	}

@media mPhone
	body
		font-size 95%
	#viewport {
		center(600px)
	}