@import 'node_modules/jeet/jeet'

// Mixins

reset-list()
  ul
    padding 0
  li
    list-style-type none

stretch-image()
  max-width 100%
  max-height 100%

// Helpers

.row
  clearfix()
  center(1200px)
  header&
    max-width none
    
// Globals
html, body 
  font-family sans-serif
  background-color #000
  color #FFF

a
  color #1AF
  text-decoration none
  &:hover
    text-decoration underline

// Layout
  
header
  h1.logo
    column(1)
    img
      stretch-image()
      

  nav
    column(1/2)
    reset-list()
    li
      display inline-block

  .fb-like
    column(1/2)

.hero
  canvas
    width 100% !important
    height 100% !important

.hero,
.call_to_action,
.news,
.most_popular
  column(1)

.call_to_action
  reset-list()
  li
    column(1/4)   
    text-align center

.most_popular
  reset-list()

// Tablet
@media screen and (min-width: 768px)
  .news
    column(3/5)

  .most_popular
    column(2/5)

// Desktop
@media screen and (min-width: 1200px)
  header
    h1.logo
      column(4/12)
    nav
      column(7/12)
    .fb-like
      column(1/12)
 
  .hero,
  .news
    column(5/7)

  .call_to_action,
  .most_popular
    column(2/7)

  .call_to_action
    li
      column(1/2)
      margin 0
      text-align center
