/* 
	Langenium application stylesheet
*/

@import 'jeet'
@import './shared/defaults.styl'

html, body
	overflow hidden
	margin 0
	position absolute
	left 0
	top 0
	right 0
	bottom 0

body 
	font-family arial
	font-size 75%
	color #FFFFFF

h1 
	float left
	a
		padding .125em 0
		font-size 0.1px

#container
	pointer-events none
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	*
		pointer-events auto
	.ember-view
		center(1440px)
		padding 1.5%
		nav
			column(1)
			#main_menu
				padding-top 1em
				padding-left 4em
				float left
				li 
					float left
					list-style none outside
					a
						color #FFFFFF			
						margin .5em .25em
						padding .35em .5em
						font-family 'Franchise'
						font-size 1.85em
						text-transform uppercase
						text-align center
						text-decoration none
					a:hover,a.active
						text-decoration underline
		#page
			padding 1.5% 0
			column(1)
			#content
				border-style solid
				border-width 32px
				border-image url("/assets/border-02.png") 42 fill round
				box-sizing border-box
				.slideshow 
					.content
						a
							color #FFFFFF
							font-size 2em
							letter-spacing 0.025em
							text-transform uppercase
							text-decoration none
							h3
								margin 0
				column(2/3)
			#sidebar
				border-style solid
				border-width 32px
				border-image url("/assets/border-03.png") 80 77 fill round
				box-sizing border-box
				column(1/3)

@media mTablet
	body
		font-size 85%
	.ember-view {
		center(960px)
	}

@media mPhone
	body
		font-size 95%
	.ember-view {
		center(600px)
	}