extends /templates/layout.pug

block append title
  | Gameplay | Epoch Exordium | Wiki | Langenium

block append page
  .row
    h2 Epoch Exordium Gameplay
    include:markdown /universe/documentation/games/Langenium--Epoch-Exordium/Gameplay.md
