extends /templates/layout.pug

block append title
  | Fall of the Elx | Wiki | Langenium

block append page
  .row
    h2 Fall of the Elx
    include:markdown /universe/documentation/games/Langenium--Fall-of-the-Elx/README.md
    