extends /templates/layout.pug

block append title
  | Wiki | Langenium

block append page
  .row
    h2 Welcome to the Langenium Wiki
    ul
      li
        a(href='/wiki/storylines.html') Storylines
      li
        a(href='/wiki/technology_of_2099.html') Technology of 2099