extends /templates/layout.pug

block append title
  | Wiki | Langenium

block append page
  .row
    h2 Welcome to the Langenium Wiki
    ul
      li
        h3 Games (in order of development)
        ul
          li
            a(href='/wiki/games--epoch-exordium.html') Epoch Exordium
          li
            a(href='/wiki/games--airship-academy.html') Airship Academy
          li
            a(href='/wiki/games--mmo.html') MMO
          li
            a(href='/wiki/games--fall-of-the-elx.html') Fall of the Elx
      li
        h3 Storylines
        ul
          li
            h3 Characters
            ul
              li
                a(href='/wiki/characters--werp.html') WERP
          li
            a(href='/wiki/storylines--2077.html') 2077
          li
            a(href='/wiki/storylines--2099.html') 2099
          li
            a(href='/wiki/storylines--2299.html') 2299
      li
        a(href='/wiki/technology_of_2099.html') Technology of 2099
