extends /templates/layout.pug

block append title
  | Wiki | Langenium

block append page
  .row
    h2 Welcome to the Langenium Wiki
    ul
      li
        h3 Games (in order of development)
        ul
          li
            a(href='/wiki/epoch-exordium.html') Epoch Exordium
          li
            a(href='/wiki/airship-academy.html') Airship Academy
          li
            a(href='/wiki/mmo.html') MMO
          li
            a(href='/wiki/fall-of-the-elx.html') Fall of the Elx
      li
        h3 Lore, locations and mythology
        ul
          li
            a(href='/wiki/langenium.html') Langenium (mineral)
      li
        h3 Storylines
        ul
          li
            h3 Characters
            ul
              li
                a(href='/wiki/werp.html') WERP
          li
            a(href='/wiki/2077.html') 2077
          li
            a(href='/wiki/2099.html') 2099
            ul
              li
                a(href='/wiki/technology_of_2099.html') Technology of 2099
          li
            a(href='/wiki/2299.html') 2299
