extends /templates/layout.pug

block append title
  | Storylines | Wiki | Langenium

block append page
  .row
    h2 Storylines
    include:markdown /universe/stories-world-building/Epoch Exordium/Prologue for Epoch Exordium.md
