extends /templates/layout.pug

block append title
  | Technology of 2099 | Wiki | Langenium

block append page
  .row
    h2 Technology of 2099
    include:markdown /universe/stories-world-building/Airship Academy/Technology of 2099.md
